{% extends "base.njk" %}

{% block head_title %}Mes notes — ACCORDs{% endblock %}
{% block body_class %}notes{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-notes.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>Mes notes</h1>
	<p>Retrouvez ici tous les informations que vous avez mis de côté durant votre utilisation de l'application. Vous pouvez également saisir vos réflexions dans le champ libre ci-dessous.</p>
</div>

<div class="notes-section">
	<h2>Mes sélections</h2>
	<div class="notes-bookmarks">

		<notes></notes>

	</div>
</div>

<div class="notes-section">
	<h2>Mes réflexions</h2>
	<div class="notes-freetext">
		<textarea id="notes-freetext" placeholder="Utilisez ce champ pour saisir le texte que vous souhaitez : questions, remarques, doutes, etc."></textarea>
	</div>
</div>

<div class="actions">
	<div class="action export">
		<button type="button" class="export-data">Exporter mes notes</button>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('notes')}}
{% endblock %}
