{% extends "base.njk" %}

{% block head_title %}Mes notes — ACCORDs{% endblock %}
{% block body_class %}notes{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vue.min.js"></script>
{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-notes.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>Mes notes</h1>
	<p>Retrouvez ci-dessous tous les informations que vous avez mis de côté durant votre utilisation de l'application. Vous pouvez également saisir vos propres remarques ou questions dans le champ libre ci-dessous.</p>
</div>

<div class="notes-section">
	<h2>Mes sélections</h2>
	<div class="notes-bookmarks">

		<div id="notes-bookmarks"></div>

	</div>
</div>

<div class="notes-section">
	<h2>Mes réflexions</h2>
	<div class="notes-freetext">
		<textarea id="notes-freetext" placeholder="Utilisez ce champ pour saisir le texte que vous souhaitez : questions, remarques, doutes, etc."></textarea>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('notes')}}
{% endblock %}

{% block footer_javascript %}
<script type="text/javascript" id="glossaryJson">
	var artJson = {{ artString | safe }} ;
	var glossaryJson = {{ glossaryString | safe }} ;
</script>
<script type="text/javascript" src="js/bookmarks.js"></script>
<script type="text/javascript" src="js/notes.js"></script>
{% endblock %}
