{% extends "base.njk" %}

{% block title %}L'essentiel — ACCORDs{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>L'essentiel</h1>
	</div>

	<div class="section-content content-text section-essentiel">
		<p>Depuis 2018, le <a class="glossary-dfn" href="read.glossary.html#psa">projet de soins anticipé</a> est proposé en Suisse pour promouvoir les discussions entre les personnes, leurs proches et les professionnels de santé sur les <a class="glossary-dfn" href="read.glossary.html#objectifs">objectifs de soins</a>.</p>
		<p>L’enjeu, c’est de vous exprimer sur l’essentiel &mdash;votre vie&mdash; en anticipation d’une situation où vous pourriez perdre votre <a class="glossary-dfn" href="read.glossary.html#discernement">capacité de discernement</a>.</p>
		<p>Le projet de soins anticipés intègre les <a class="glossary-dfn" href="read.glossary.html#da">directives anticipées</a> et le <a class="glossary-dfn" href="read.glossary.html#representant">représentant thérapeutique</a>, il ne les remplace pas. C’est un processus continu dans le temps, adaptable à tout moment. Vous vous accordez avec les personnes et les professionnels que vous souhaitez.</p>
		<p>Aux HUG, vous êtes invités régulièrement à ces discussions pour définir les <a class="glossary-dfn" href="read.glossary.html#objectifs">objectifs de soins</a> les plus appropriés et de les adapter régulièrement. Ces discussions peuvent avoir lieu en début ou au cours d’hospitalisation, en urgence ou au calme, avec les médecins et tous les autres soignants.</p>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
