{% extends "base.njk" %}

{% block title %}L'essentiel — ACCORD{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>L'essentiel</h1>
	</div>

	<div class="section-content content-text section-essentiel">
		<div class="legal-q">
			<p>Que sont les directives anticipées et le projet de soin anticipé&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Les <glossary link="da"><strong>directives anticipées</strong></glossary> ne sont qu'un élément d'une démarche plus globale, appelée le <glossary link="psa"><strong>projet de soins anticipé</strong></glossary>. Celui-ci implique des discussions entre le patient et ses soignants. Ces échanges peuvent aussi inclure les proches. Le but est de prévoir et anticiper une prise en charge médicale future optimale et adaptée au patient. Dans ce cadre, il est courant de rédiger un document qui s'appelle les directives anticipées. Dans ce document, qui a une valeur légale, le patient explicite à quelles mesures médicales il consent ou non. </p>
		</div>

		<div class="legal-q">
			<p>Pourquoi s’intéresser aux soins anticipés et aux directives anticipées&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Parce que sinon, d'autres personnes choisiront à votre place si vous perdez votre <glossary link="discernement">capacité de discernement</glossary> et leurs choix ne correspondront pas forcément aux vôtres. Chaque corps de métier (médecin généraliste, médecin urgentiste, infirmier dans un EMS, etc) y trouvera des informations pertinentes pour savoir comment vous prendre en charge.</p>
		</div>

		<div class="legal-q">
			<p>Comment s’y prendre pour faire connaître vos besoins et préférences&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Pour commencer, prenez le temps d’explorer ACCORD. Parlez-en avec les personnes clés de votre entourage (proches, soignants). Réfléchissez aux <glossary link="objectifs">objectifs de soin</glossary> qui correspondent à votre situation. Enfin, remplissez vos directives dans la section <a href="write.index.html">J’écris</a>.</p>
		</div>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
