{% extends "base.njk" %}

{% block title %}À propos de cette app — ACCORDs{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>À propos de cette app</h1>
	</div>

	<div class="section-content section-about content-text">
		<h2>Qui sommes-nous&nbsp;?</h2>

		<p>L'application Accords est née de la motivation de deux étudiantes en médecine, <strong>Camille de la Serna</strong> et <strong>Laurence Buytaert</strong>, dans le cadre de leur travail de Master. Accompagnées par <strong>Christine Clavien</strong>, éthicienne, leur énergie aura su fédérer une fière équipe dont une partie médicale avec le <strong>Dr Thomas Fassier</strong> et la <strong>Dr Florence Hartheiser</strong> et une partie développement avec <strong>François-Pierre Robert</strong> et <strong>Vincent Clavien</strong>.</p>
		<p>Rassemblée pour la première fois à l'occasion du Hackathon 2019 organisé par le Centre de l'Innovation des Hôpitaux Universitaires de Genève, notre équipe s'enrichit alors de nos patients partenaires, <strong>Ines Serre</strong>, <strong>Christa Höchli</strong> et <strong>Pierre Sutter</strong>.</p>

		<p>
			<figure>
				<img src="img/about/photo-winners.jpg" alt="Notre équipe, après 36 heures de hackathon : au premier plan, à gauche, Camille de la Serna, à droite, Laurence Buyaert. Debout, derrière, de gauche à droite : Vincent Clavien, Ines Serre, François-Pierre Robert, Christine Clavien, Florence Hartheriser, Thomas Fassier, Pierre Sutter" title="Notre équipe, après 36 heures de hackathon : au premier plan, à gauche, Camille de la Serna, à droite, Laurence Buyaert. Debout, derrière, de gauche à droite : Vincent Clavien, Ines Serre, François-Pierre Robert, Christine Clavien, Florence Hartheriser, Thomas Fassier, Pierre Sutter">
				<figcaption><em>Notre équipe, après 36 heures de hackathon : au premier plan, à gauche, Camille de la Serna, à droite, Laurence Buyaert. Debout, derrière, de gauche à droite : Vincent Clavien, Ines Serre, François-Pierre Robert, Christine Clavien, Florence Hartheriser, Thomas Fassier, Pierre Sutter</em></figcaption>
			</figure>
		</p>

		<p>Forts d'un travail récompensé par ce prix, nous sommes bientôt rejoints par <strong>Céline Schöpfer</strong>, psychomotricienne et philosophe, et <strong>Catherine Bollondi Pauly</strong>, infirmière.</p>
		<p>Ensemble, nous avons souhaité créer un véritable outil de dialogue et d'information sur les directives anticipées pour les patients et leurs proches. Notre application est en constante évolution et amélioration, afin de répondre au mieux à vos attentes.</p>

		<h2>Nous contacter</h2>
		<p class="contact-us"><em>(Adresse email à venir)</em></p>

		<h2>Nos soutiens</h2>

		<ul class="sponsors-logos">
			<li><img src="img/about/logo-unige.png" alt="Université de Genève"></li>
			<li><img src="img/about/logo-centre-innovation-hug.png" alt="Centre de l'innovation des HUG"></li>
			<li><img src="img/about/logo-fondation-hug.png" alt="Fondation privée des HUG"></li>
		</ul>

	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
