{% extends "base.njk" %}

{% block title %}L'essentiel — ACCORD{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>L'essentiel</h1>
	</div>

	<div class="section-content content-text section-essentiel">

		<div class="legal-q">
			<p>Pourquoi s’intéresser aux <glossary link="psa">soins anticipés</glossary> et aux <glossary link="da">directives anticipées</glossary>&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Parce que sinon, d’autres personnes choisiront à votre place si vous perdez votre <glossary link="discernement">capacité de discernement</glossary> et leurs choix ne correspondront pas forcément aux vôtres.</p>
		</div>

		<div class="legal-q">
			<p>Comment s’y prendre pour faire connaître nos besoins et préférences&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Pour commencer, prenez le temps d’explorer ACCORD. Parlez-en avec les personnes clés de votre entourage (proches, soignants). Réfléchissez aux <glossary link="objectifs">objectifs de soin</glossary> qui correspondent à votre situation. Enfin, remplissez vos directives dans la section <a href="write.index.html">J’écris</a>.</p>
		</div>

		<div class="legal-q">
			<p>Comment naviguer dans cette app&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Vous pouvez explorer les différentes sections, à votre rythme, dans l'ordre qui vous convient le mieux.</p>
			<p>Quand vous rencontrez un terme souligné (par exemple&nbsp;: <glossary link="objectifs">objectifs de soin</glossary>), cliquez dessus et sa définition apparaît.</p>
			<p>Quand un élément retient votre attention, vous pouvez l'enregistrer dans la section <a href="notes.index.html">Mes notes</a> grâce au bouton <span class="bookmark-btn"><span class="btn-label">Ajouter à mes notes</span></span>.</p>
		</div>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
