{% extends "base.njk" %}

{% block head_title %}Je m'informe — ACCORDs{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-read.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>Je m'informe</h1>
	<p>De quoi parlons-nous&nbsp;? Informez-vous sur le projet de soins anticipé&nbsp;: l’essentiel, les mots pour en parler et le cadre légal. Découvrez aussi des histoires de vie.</p>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="read.essentiel.html">
			<h2>L'essentiel</h2>
			<div class="desc">
				<p>Découvrez ou redécouvrez le projet de soins anticipé.</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="read.vecu.html">
			<h2>Histoires de vie</h2>
			<div class="desc">
				<p>Hommes et femmes, parents et enfants, en santé et malades, à l’hôpital, à l’EMS et à la maison… nous sommes tous concernés&nbsp;!</p>
			</div>
		</a>
	</div>

	<div class="section-entry section-secondary">
		<a href="read.glossary.html">
			<h2>Glossaire</h2>
		</a>
	</div>
	<div class="section-entry section-secondary">
		<a href="read.legal.html">
			<h2>Que dit la loi ?</h2>
		</a>
	</div>
	<div class="section-entry section-secondary">
		<a href="read.about.html">
			<h2>À propos de cette app</h2>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}

{% block footer_javascript %}
<!-- <script type="text/javascript" src="js/index.js"></script> -->
{% endblock %}
