{% extends "base.njk" %}

{% block title %}Histoires de vie — ACCORD{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Histoires de vie</h1>
	</div>

	<div class="section-chapo">
		<p>Découvrez pourquoi nous sommes tous concernés.</p>
	</div>

	<div class="section-content section-vecu">

		<div class="vignettes">
			<div class="vignettes-nav">
				<div class="next"></div>
				<div class="prev"></div>
			</div>
			<div class="vignettes-list">

			{% for vignette in vecu %}
			<div class="vignette">

				{% if vignette.imgPosition == 'left' %}
				<div class="img-side left">
					<img src="img/vignettes/{{ vignette.img }}" alt="">
				</div>
				{% endif %}
				<p>
					{{ vignette.description | safe }}
				</p>
				<p class="action-bookmark">
					<bookmark-button type="vecu" target="{{ vignette.id }}"></bookmark-button>
				</p>
				{% if vignette.imgPosition == 'wide' %}
				<div class="img-wide">
					<img src="img/vignettes/{{vignette.img}}" alt="">
				</div>
				{% endif %}
			</div>
			{% endfor %}

			</div>
		</div>

	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
