{% extends "base.njk" %}

{% block title %}Que dit la loi ? — ACCORDs{% endblock %}
{% block body_class %}read{% endblock %}
{% block parent_page %}read.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-read.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Que dit la loi&nbsp;?</h1>
	</div>

	<div class="section-content section-legal">
		<div class="legal-intro">
			<p>Toute personne @capable de discernement@ peut écrire des @directives anticipées@ qui ont une valeur légale.<br>
			Voici quelques questions et réponses qui vous aideront à saisir les enjeux légaux principaux.</p>
		</div>
		<div class="legal-deco">
			<img src="img/deco/read.legal.deco.jpg" alt="">
		</div>

		<div class="legal-q">
			<p>Les directives anticipées doivent-elles prendre une forme particulière&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Pas vraiment. Ce qui importe, c’est qu’elles soient écrites, datées et signées par vous-même.</p>
		</div>

		<div class="legal-q">
			<p>Les directives anticipées doivent-elles être validées par une personne officielle&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Non mais il est fortement recommandé d’en discuter et de les signer en présence de votre médecin car elles ne seront pas valides si les professionnels de la santé ont des doutes sérieux sur le fait qu’elles expriment votre volonté.</p>
		</div>

		<div class="legal-q">
			<p>Les directives anticipées peuvent-elles être modifiées&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Oui en tout temps. Il est même recommandé de les repenser, dater et signer régulièrement (en particulier si votre état de santé change) pour confirmer qu’elles correspondent toujours à vos volontés.</p>
		</div>

		<div class="legal-q">
			<p>Les médecins sont-ils tenus de suivre les directives anticipées&nbsp;?</p>
		</div>
		<div class="legal-a">
			<p>Oui sauf dans les cas suivants&nbsp;:</p>
			<ul>
				<li>Si les directives transgressent les dispositions légales&nbsp;: par exemple, demander aux médecins d'abréger notre vie est interdit par le code pénal.</li>
				<li>Si les directives ne sont pas faciles à interpréter&nbsp;: par exemple, les demandes d’éviter « l’acharnement thérapeutique », est une formule trop vague pour être comprise. Pour éviter ces situations, il est fortement recommandé de discuter du contenu et de l’interprétation de vos directives avec les professionnels de la santé et avec vos proches. ACCORDs vous y aidera !</li>
				<li>Si les directives contiennent des demandes qui sortent de l’obligation de prestation de soin, ils peuvent être refusés&nbsp;: par exemple, on ne peut pas exiger d’être admis dans un lieu de soin public particulier, de recevoir un traitement non reconnu, ou de rester à domicile en toutes circonstances. On peut bien sûr exprimer de tels souhaits mais sans garantie qu’ils soient réalisés en toute circonstance.</li>
				<li>Si les soignants ont un doute sérieux sur la libre volonté du patient lors de la rédaction des directives&nbsp;: par exemple si on pense qu’il était sous pression ou incapable de discernement.</li>
			</ul>
			<p>Tout cela bien sûr si les professionnels de la santé sont au courant de vos directives anticipes. Donc parlez-en&nbsp;!</p>
		</div>

	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('read')}}
{% endblock %}
