{% extends "base.njk" %}

{% block title %}Amorces de discussion — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Amorces de discussion</h1>
	</div>

	<div class="section-content section-amorces">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius reprehenderit delectus in incidunt at, quis molestiae! Omnis nostrum odio veritatis libero adipisci neque dolor, consequatur tenetur rerum, recusandae, in fugit.</p>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
