{% extends "base.njk" %}

{% block head_title %}J'en parle — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-talk.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>J'en parle</h1>
	<p>Comment en parler&nbsp;? Ici vous trouverez des conseils pour amorcer les discussions. Pas si facile&nbsp;? Prenez le temps d’y réfléchir à travers l’art et avec notre jeu des valeurs.</p>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="talk.amorces.html">
			<h2>Amorces de discussion</h2>
			<div class="desc">
				<p>Par où commencer&nbsp;: lesquelles de ces phrases vous parlent le plus&nbsp;?</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="talk.art.html">
			<h2>C'est dans l'art</h2>
			<div class="desc">
				<p>Tu as vu ce film&nbsp;? Tu as lu ce livre&nbsp;?</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="talk.jeu.html">
			<h2>Jeu des valeurs</h2>
			<div class="desc">
				<p>Découvrez vos priorités de vie en jouant.</p>
			</div>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}

{% block footer_javascript %}
<!-- <script type="text/javascript" src="js/index.js"></script> -->
{% endblock %}
