{% extends "base.njk" %}

{% block title %}Amorces de discussion — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Amorces de discussion</h1>
	</div>

	<div class="section-content section-amorces">
		{% for section, amorceList in amorces | groupby("sectionId") %}
		<div class="amorces">
			<h3>{{ section }}</h3>
			<ul>
			{% for amorce in amorceList %}
				<li class="amorce">
					<span class="bookmark-btn" data-type="amorce" data-target="{{ amorce.id }}"></span>
					{{ amorce.amorces | safe }}</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}


{% block footer_javascript %}
	<script type="text/javascript" src="js/bookmarks.js"></script>
{% endblock %}

