{% extends "base.njk" %}

{% block title %}Jeux et quizz — ACCORD{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Jeux et quizz</h1>
	</div>

	<div class="section-content section-jeu content-text">
		<p>Coming soon…</p>
		<ul>
			<li>Le quizz d'ACCORD</li>
			<li>Mon profil anticipé</li>
			<li>La belotte des préférences</li>
		</ul>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
