{% extends "base.njk" %}

{% block title %}Ressources pour en parler — ACCORD{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Ressources pour en parler</h1>
	</div>

	{% for section, resourceList in resources | groupby("section") %}
	<div class="section-content section-resources">
		<div class="resource-item">
			<div class="resource-content">
				<p class="type"><span class="content">{{ section }}</span></p>
				<ul class="summary">
				{% for resource in resourceList %}
					{% if resource.title %}
					<li class="resource-link">
						{{ resource.title }} : <a href="{{ resource.url}}" title="_blank">{{ resource.url }}</a>
					</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
