{% extends "base.njk" %}

{% block title %}C'est dans l'art — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>C'est dans l'art</h1>
	</div>

	<div class="section-content section-art">
		{% for item in art %}
		<div class="art-item" id="art-{{ item.ID }}">
			<h2>
				{{ item.Titre }}
				<bookmark-button type="art" target="{{ item.ID }}"></bookmark-button>
			</h2>
			<div class="art-content">
				<img alt="{{ item.Titre }}" src="img/art/{{item.Image}}" class="poster"/>
				<p class="type"><span class="content">{{ item.Type }}</span></p>
				<p class="summary">{{ item.Resume | safe}}</p>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
