{% extends "base.njk" %}

{% block head_title %}J'en parle — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-talk.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>J'en parle</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis in nam voluptatibus quos, rerum, dicta rem impedit laudantium esse, nihil ut alias sint, voluptates deleniti exercitationem. Voluptatibus in, tempore quibusdam.</p>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="">
			<h2>Amorces de discussion</h2>
			<div class="desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eum in saepe eos distinctio ullam voluptatum assumenda quasi pariatur ab, ratione, dolorum repellendus.</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="">
			<h2>Jeu des valeurs</h2>
			<div class="desc">
				<p>Assumenda quasi pariatur ab, ratione, dolorum repellendus, similique optio laborum natus cumque exercitationem aliquam.</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="">
			<h2>Les soins anticipés dans l'art</h2>
			<div class="desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eum in saepe eos distinctio ullam voluptatum assumenda quasi pariatur ab, ratione, dolorum repellendus, similique optio laborum natus cumque exercitationem aliquam.</p>
			</div>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}

{% block footer_javascript %}
<!-- <script type="text/javascript" src="js/index.js"></script> -->
{% endblock %}
