{% extends "base.njk" %}

{% block title %}Amorces de discussion — ACCORD{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Amorces de discussion</h1>
	</div>

	<div class="section-chapo">
		<p>Par où commencer&nbsp;: lesquelles de ces phrases vous parlent le plus&nbsp;?</p>
	</div>

	<div class="section-content section-amorces">
		{% for section, amorceList in amorces | groupby("sectionId") %}
		<div class="amorces">
			<h3>{{ section | safe }}</h3>
			<ul>
			{% for amorce in amorceList %}
				<li class="amorce">
					{{ amorce.amorces | safe }}
					<p class="action-bookmark">
						<bookmark-button type="amorce" target="{{ amorce.id }}"></bookmark-button>
					</p>
				</li>
			{% endfor %}
			</ul>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
