{% extends "base.njk" %}

{% block title %}Jeu des valeurs — ACCORDs{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}talk.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-talk.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Jeu des valeurs</h1>
	</div>

	<div class="section-content section-jeu">
		<p>Coming soon … avec le soutien des HUG. ;)</p>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
