{% extends "base.njk" %}

{% block head_title %}J'en parle — ACCORD{% endblock %}
{% block body_class %}talk{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-talk.svg" class="section-icon" alt="">
	<p class="app-name">ACCORD</p>
	<h1>J'en parle</h1>
	<p>Comment en parler&nbsp;? Ici vous trouverez des conseils pour amorcer les discussions. Pas si facile&nbsp;? Prenez le temps d’y réfléchir à travers l’art et avec notre jeu des valeurs.</p>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="talk.amorces.html">
			<h2>Amorces de discussion</h2>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="talk.resources.html">
			<h2>Ressources pour en parler</h2>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="talk.art.html">
			<h2>C'est dans l'art</h2>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="talk.jeu.html">
			<h2>Jeux et quizz</h2>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('talk')}}
{% endblock %}
