{% extends "base.njk" %}

{% block head_title %}J'écris — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-write.svg" class="section-icon" alt="">
	<p class="app-name">ACCORD</p>
	<h1>J'écris</h1>

	<p>Que souhaitez-vous que l'on sache de vous et de vos préférences pour les soins ? Faites-le savoir en répondant à quelques questions. En fin de questionnaire, vous pourrez exporter vos réponses en format PDF.</p>

	<div class="section-intro-more">
		<a href="write.conseils.html">
			<h2>Pour que mes directives anticipées soient effectives</h2>
		</a>
		<a href="write.confidentialite.html">
			<h2>À propos de la confidentialité de mes données</h2>
		</a>
	</div>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="write.mydata.html">
			<h2>Moi et mon entourage</h2>
			<div class="desc">
				<p>Pour que les professionnels sachent qui contacter</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="write.valeurs.html">
			<h2>Mes valeurs et préférences</h2>
			<div class="desc">
				<p>Ce que les professionnels doivent savoir pour bien me soigner</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="write.soins.html">
			<h2>En cas d'urgence</h2>
			<div class="desc">
				<p>Mes préférences pour anticiper les soins en cas d'urgence</p>
			</div>
		</a>
	</div>
	<div class="actions">
		<div class="action export">
			<button type="button" class="export-data">Exporter mon formulaire</button>
		</div>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
