{% extends "base.njk" %}

{% block title %}Qui je suis — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Qui je suis</h1>
	</div>

	<div class="section-content section-form section-mydata">
		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-mydata-1">Je m'appelle …</label>
			</div>
			<div class="form-input">
				<input type="text" id="form-mydata-1">
			</div>
		</div>
		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-mydata-2">Je suis né.e le … à …</label>
			</div>
			<div class="form-input">
				<input type="text" id="form-mydata-2">
			</div>
		</div>
		<div class="form-item form-item-textarea">
			<div class="form-label">
				<label for="form-mydata-3">Je présente ma famille et mes proches&nbsp;:</label>
			</div>
			<div class="form-input">
				<textarea id="form-mydata-3"></textarea>
			</div>
		</div>
		<div class="form-item form-item-textarea">
			<div class="form-label">
				<label for="form-mydata-4">Je me sens responsable de …</label>
			</div>
			<div class="form-input">
				<textarea id="form-mydata-4"></textarea>
			</div>
		</div>
		<div class="form-item form-item-textarea">
			<div class="form-label">
				<label for="form-mydata-5">Je me décris … (mes loisirs, mes passions, mes activités, mon caractère, mes relations)</label>
			</div>
			<div class="form-input">
				<textarea id="form-mydata-5"></textarea>
			</div>
		</div>

		<nav class="pager">
			<div class="pager-item next">
				<a href="write.valeurs.html">
					<span class="label">Étape suivante</span>
					<span class="subtitle">Que faut-il savoir de moi</span>
				</a>
			</div>
		</nav>

	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
