{% extends "base.njk" %}

{% block title %}Moi et mon entourage — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vendor/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="js/vendor/sisyphus-1.1.3.min.js"></script>
{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Moi et mon entourage</h1>
	</div>

	<form name="write.mydata" id="write.mydata">

	<div class="section-content section-form section-mydata">

		{{ _form.fieldText("lastname","<strong>Mon nom&nbsp;:</strong>") }}

		{{ _form.fieldText("firstname","<strong>Mon prénom&nbsp;:</strong>") }}

		{{ _form.fieldText("birthdate","<strong>Ma date de naissance&nbsp;:</strong>") }}

		{{ _form.fieldText("birthplace","<strong>Mon lieu de naissance&nbsp;:</strong>") }}

		{{ _form.fieldText("email","<strong>Mon adresse mail&nbsp;:</strong>","email") }}

		{{ _form.fieldTextarea("nurses","<strong>Les personnes qui me soignent habituellement&nbsp;:</strong>") }}

		{{ _form.fieldTextarea("represents-1","<strong>Mon ou mes <glossary link=\"representant\">représentant(s) thérapeutique(s)</glossary></strong><br>(l’ordre des noms détermine l’ordre de priorité)
		<p>&nbsp;</p>
		1. Nom et prénom<br>Infos utiles pour le/la contacter (adresse, téléphone, mail…)") }}

		{{ _form.fieldTextarea("represents-2","2. Nom et prénom<br>Infos utiles pour le/la contacter (adresse, téléphone, mail…)") }}

		{{ _form.fieldTextarea("closerelation","<strong>Les personnes qui me soutiennent au quotidien parmi mes proches&nbsp;:</strong>") }}

		{{ _form.fieldTextarea("responsible","<strong>Je me sens responsable de&nbsp;…</strong> (mes enfants, mes animaux, la comptabilité de ma famille, etc…)") }}

		{{ _form.fieldTextarea("important","<strong>Autres choses importantes à dire sur mon entourage</strong> (je me sens particulièrement proche de…, ma soignante préférée est…, etc…)") }}

		<nav class="pager">
			<div class="pager-item next">
				<a href="write.valeurs.html">
					<span class="label">Étape suivante</span>
					<span class="subtitle">Mes valeurs et préférences</span>
				</a>
			</div>
		</nav>

	</div>

	</form>

{% endblock %}

{% block footer_javascript %}
<script type="text/javascript">
	$('form').sisyphus();
</script>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
