{% extends "base.njk" %}

{% block title %}Moi et mon entourage : mes représentants — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.form1.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vendor/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="js/vendor/sisyphus-1.1.3.min.js"></script>
<script type="text/javascript" src="js/write.js"></script>
{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Pourquoi est-il si important de nommer ses représentants thérapeutiques</h1>
	</div>

	<div class="section-content content-text">

		<p>Le ou la <glossary link=representant>représentante thérapeutique</glossary> sera votre porte-parole dans le cas où vous ne pourrez plus vous exprimer ou si vous venez à perdre votre discernement. Il s’agit de la personne de votre choix et celle-ci n’est pas forcément un membre de votre famille. Il est important de désigner une personne car</p>

		<ol>
			<li>si vous en avez parlé avec elle, elle connaitra vos préférences et pourra s’adapter en temps réel à ce qui se passe et mieux se représenter ce que vous auriez voulu;</li>
			<li>si vous n’en désignez pas, cela se fera selon l’ordre légal qui désignera une personne que vous n’aurez peut-être pas choisie, et</li>
			<li>en la désignant formellement, vous donnez plus de poids à son rôle de représentante.</li>
		</ol>

		<nav class="pager">
			<div class="pager-item prev">
				<a href="write.form1.html#closerelation2">
					<span class="label">Retour</span>
					<span class="subtitle">Moi et mon entourage</span>
				</a>
			</div>
		</nav>

	</div>

{% endblock %}

{% block footer_javascript %}
<script type="text/javascript">
	$('form').sisyphus();
</script>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
