{% extends "base.njk" %}

{% block title %}Pour que mes directives anticipées soient effectives — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Pour que mes directives anticipées soient effectives</h1>
	</div>

	<div class="section-content content-text section-conseils">
		<p>Pour rédiger vos <glossary link=da>directives anticipées</glossary>, vous pouvez soit&nbsp;:</p>

		<ol>
			<li>Remplir les questions de la section « J’écris » dans ACCORD puis exporter et imprimer le PDF;</li>
			<li>Utiliser d’autres modèles existants (disponibles sur le site de la FMH, de Pro Senectute, etc.);</li>
			<li>Les écrire sur une feuille blanche.</li>
		</ol>

		<p>Toutefois, pour que vos directives soient légalement valides, accessibles et compréhensibles, suivez les étapes suivantes&nbsp;:</p>

		<ul>
			<li><strong>Datez et signez</strong> vos directives;</li>
			<li><strong>Déposez</strong> vos directives à un ou des endroits facilement accessibles (chez vous, chez votre médecin, dans votre dossier patient électronique à l’hôpital);</li>
			<li><strong>Parlez-en&nbsp;!</strong> Discutez de l’existence et du contenu de vos directives avec les personnes clés (proches parents, médecin de famille, etc.) et informez-les du lieu de leur dépôt.</li>
		</ul>

		<div class="nav-section-home">
			<a href="write.index.html">Retour au questionnaire</a>
		</div>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
