{% extends "base.njk" %}

{% block head_title %}J'écris — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-write.svg" class="section-icon" alt="">
	<p class="app-name">ACCORD</p>
	<h1>J'écris</h1>

	<p>Exprimez vos préférences pour les soins en répondant à un questionnaire organisé en plusieurs parties. Au terme de la procédure, vous pourrez exporter vos directives anticipées dans un format imprimable.</p>
	<p>&nbsp;</p>

	<p><strong>Réfléchir à ces questions prend du temps et appelle des discussions avec votre entourage.</strong> ACCORD enregistre automatiquement vos réponses au fur et à mesure de votre progression. À tout moment, vous pouvez donc quitter l'application pour y revenir plus tard.</p>

	<div class="section-intro-more">
		<a href="write.conseils.html">
			<h2>Pour que mes directives anticipées soient effectives</h2>
		</a>
		<a href="write.confidentialite.html">
			<h2>À propos de la confidentialité de mes données</h2>
		</a>
	</div>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="write.form0.html">
			<h2>Je remplis mon questionnaire</h2>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="write.form0.html">
			<h2>Je remplis le questionnaire pour quelqu'un d'autre</h2>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
