{% extends "base.njk" %}

{% block title %}Interventions pour ma survie — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.form0.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vendor/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="js/vendor/sisyphus-1.1.3.min.js"></script>
<script type="text/javascript" src="js/write.js"></script>
{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Interventions pour ma survie</h1>
	</div>

	<div class="section-chapo">
		<p>Les données que vous fournirez dans cette partie permettront aux soignants ainsi qu’à vos proches de savoir comment agir dans les situations médicales précises, notamment en <glossary link=urgences>urgence</glossary> et aux <glossary link=soins-intensifs>soins intensifs</glossary>.</p>
	</div>

	<div class="section-content content-text">
		<p class="accent"><strong>Vos soignants pourraient mieux vous comprendre si vous mettez à leur disposition votre profil psychologique par rapport à l’anticipation des soins.</strong></p>

		<div class="chart">
			<img src="img/charts/spider-chart-temp.png" alt="">
		</div>

		<div class="notice">
			<strong>Ce profil est encore vide ou ne vous correspond pas&nbsp;?</strong><br><br>
				Vous pouvez le créer ou le modifier en vous rendant <a href="">dans la section «&nbsp;Jeu et quizz&nbsp;»</a>.<br><br>
				Vous pouvez remettre les valeurs du profil à zéro <a href="">en cliquant ici</a>.
		</div>
	</div>

	<form name="write.form3" id="write.form3">

	<div class="section-content section-form">

		{{ _form.fieldRadioTextarea(
			""
			, "profile"
			, [
				{id : 'profile-ok', value : 'profile-ok', label : "Je valide ce profil. Il me correspond." }
				, {id : 'profile-no', value : 'profile-no', label : "Je préfère ne pas ajouter mon profil psychologique." }
			]
			, 'Je commente mon profil&nbsp;:'
		) }}

		<p class="accent"><strong>Il est possible que vous ne souhaitiez pas la même prise en charge dans différentes situations de vie. Nous vous proposons donc de répondre aux mêmes questions dans deux mondes possibles.</strong></p>

		<div class="world-color world-color-blue">
			<h2 class="world-color-title">Le monde bleu</h2>

			{{ _form.fieldTextarea("blue-current-situation", "<strong>Décrivez votre état de santé actuel.</strong> Pour remplir cette rubrique, n’hésitez pas à demander conseil à vos soignants&nbsp;!") }}

			<p><strong>Imaginez que</strong> demain, un événement grave survienne (accident de route, accident cardio-vasculaire, infection généralisée, etc) et vous fait perdre votre <glossary link=discernement>capacité de discernement</glossary>. Quels sont vos choix face aux mesures suivantes&nbsp;:</p>

			{{ _form.fieldRadioTextarea(
				"<strong>Si mon cœur s’arrêtait soudainement (arrêt cardiaque) et qu’une procédure de <glossary link=reanimation>réanimation</glossary> était nécessaire&nbsp;:</strong>"
				, "blue-reanimation"
				, [
					{id : 'blue-reanimation-max', value : 'blue-reanimation-max', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'blue-reanimation-medium', value : 'blue-reanimation-medium', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué si j’ai de bonnes chances de retrouver mes capacités d’avant." },
					{id : 'blue-reanimation-min', value : 'blue-reanimation-min', label : "Je souhaite que l’on ne me réanime pas." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="blue-reanimation"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si l’utilisation de machines était nécessaire pour soutenir le fonctionnement de mes organes vitaux (<glossary link=dialyse>dialyse</glossary>, <glossary link=ventilation>ventilation assistée</glossary>, etc)&nbsp;:</strong>"
				, "blue-machines"
				, [
					{id : 'blue-machines-max', value : 'blue-machines-max', label : "Je souhaite que l’on emploie tous les moyens médicalement indiqués pour ma survie même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'blue-machines-medium', value : 'blue-machines-medium', label : "Je souhaite que l’on emploie tous les moyens médicalement indiqués pour ma survie si j’ai de bonnes chances de retrouver mes capacités d’avant." },
					{id : 'blue-machines-min', value : 'blue-machines-min', label : "Je souhaite qu’aucune machine nécessaire au soutien de mes organes vitaux ne soit employée, et comprends que cela peut engendrer mon décès." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="blue-machines"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si des mesures chirurgicales sont envisagées par l’équipe soignante&nbsp;:</strong>"
				, "blue-chirurgie"
				, [
					{id : 'blue-chirurgie-max', value : 'blue-chirurgie-max', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'blue-chirurgie-medium', value : 'blue-chirurgie-medium', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué si j’ai de bonnes chances de retrouver mes capacités d’avant." },
					{id : 'blue-chirurgie-min', value : 'blue-chirurgie-min', label : "Je souhaite qu’aucune mesure chirurgicale ne soit pratiquée, et comprend que cela pourrait engendrer mon décès ou une dégradation supplémentaire de mon état de santé." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="blue-chirurgie"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si l’utilisation de médicaments ou de thérapies de support était nécessaire pour soutenir le fonctionnement de mes organes vitaux (antibiotiques, hydratation, <glossary link=alimentation>alimentation artificielle</glossary>, etc)&nbsp;:</strong>"
				, "blue-support"
				, [
					{id : 'blue-support-max', value : 'blue-support-max', label : "Je souhaite que l’on utilise tous les traitements médicalement indiqués pour ma survie même si mes chances de récupération sont très faibles." },
					{id : 'blue-support-medium', value : 'blue-support-medium', label : "Je souhaite que l’on utilise tous les traitements médicalement indiqués si j’ai de bonnes chances de retrouver mes capacités d’avant." },
					{id : 'blue-support-min', value : 'blue-support-min', label : "Je souhaite uniquement des <glossary link=soins-palliatifs>mesures palliatives</glossary>." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="blue-support"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Concernant le traitement de la douleur et des symptômes&nbsp;:</strong>"
				, "blue-douleur"
				, [
					{id : 'blue-douleur-max', value : 'blue-douleur-max', label : "Je souhaite que l’on fasse tout ce qui est indiqué d’un point de vue médical pour soulager mes douleurs et symptômes accablants (peur, agitation, difficultés à respirer, nausées), même si cela peut altérer mon état de conscience." },
					{id : 'blue-douleur-min', value : 'blue-douleur-min', label : "Il est particulièrement important pour moi de conserver un état de conscience et ma capacité de communiquer, même au prix de douleurs et autres symptômes." }
				]
				, 'Remarques complémentaires&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="blue-douleur"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>
		</div> <!-- ! end blue world -->

		<div class="world-color world-color-green">
			<h2 class="world-color-title">Le monde vert</h2>

			<p>Imaginez que vous ayez de graves problèmes de santé (coma prolongé suite à un accident ou à une infection généralisée, Alzheimer avancé dans lequel vous ne reconnaissez plus vos proches, état de faiblesse généralisée due à l’âge, etc).</p>

			{{ _form.fieldTextarea("green-situation", "<strong>Décrivez une ou des situations de ce type qui pourraient vous arriver.</strong> Pour remplir cette rubrique, il est conseillé demander conseil à vos soignants&nbsp;!") }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-situation"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			<p>&nbsp;</p>

			<p><strong>Imaginez que</strong> dans cet état-là, une équipe soignante doit prendre une décision de traitement alors que vous avez (temporairement ou durablement) perdu votre capacité de discernement. Quels sont vos choix face aux mesures suivantes&nbsp;:</p>

			{{ _form.fieldRadioTextarea(
				"<strong>Si mon cœur s’arrêtait soudainement (arrêt cardiaque) et qu’une procédure de <glossary link=reanimation>réanimation</glossary> était nécessaire&nbsp;:</strong>"
				, "green-reanimation"
				, [
					{id : 'green-reanimation-max', value : 'green-reanimation-max', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'green-reanimation-medium', value : 'green-reanimation-medium', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué si j’ai de bonnes chances de retrouver mes capacités (limitées) d’avant." },
					{id : 'green-reanimation-min', value : 'green-reanimation-min', label : "Je souhaite que l’on ne me réanime pas." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-reanimation"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si l’utilisation de machines était nécessaire pour soutenir le fonctionnement de mes organes vitaux (<glossary link=dialyse>dialyse</glossary>, <glossary link=ventilation>ventilation assistée</glossary>, etc)&nbsp;:</strong>"
				, "green-machines"
				, [
					{id : 'green-machines-max', value : 'green-machines-max', label : "Je souhaite que l’on emploie tous les moyens médicalement indiqués pour ma survie même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'green-machines-medium', value : 'green-machines-medium', label : "Je souhaite que l’on emploie tous les moyens médicalement indiqués pour ma survie si j’ai de bonnes chances de retrouver mes capacités (limitées) d’avant." },
					{id : 'green-machines-min', value : 'green-machines-min', label : "Je souhaite qu’aucune machine nécessaire au soutien de mes organes vitaux ne soit employée, et comprends que cela peut engendrer mon décès." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-machines"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si des mesures chirurgicales sont envisagées par l’équipe soignante&nbsp;:</strong>"
				, "green-chirurgie"
				, [
					{id : 'green-chirurgie-max', value : 'green-chirurgie-max', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué même si mes chances de récupération sont très faibles (le risque de séquelles graves est important)." },
					{id : 'green-chirurgie-medium', value : 'green-chirurgie-medium', label : "Je souhaite que l’on fasse tout ce qui est médicalement indiqué si j’ai de bonnes chances de retrouver mes capacités (limitées) d’avant." },
					{id : 'green-chirurgie-min', value : 'green-chirurgie-min', label : "Je souhaite qu’aucune mesure chirurgicale ne soit pratiquée, et comprend que cela pourrait engendrer mon décès ou une dégradation supplémentaire de mon état de santé." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-chirurgie"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Si l’utilisation de médicaments ou de thérapies de support était nécessaire pour soutenir le fonctionnement de mes organes vitaux (antibiotiques, hydratation, <glossary link=alimentation>alimentation artificielle</glossary>, etc)&nbsp;:</strong>"
				, "green-support"
				, [
					{id : 'green-support-max', value : 'green-support-max', label : "Je souhaite que l’on utilise tous les traitements médicalement indiqués pour ma survie même si mes chances de récupération sont très faibles." },
					{id : 'green-support-medium', value : 'green-support-medium', label : "Je souhaite que l’on utilise tous les traitements médicalement indiqués si j’ai de bonnes chances de retrouver mes capacités (limitées) d’avant." },
					{id : 'green-support-min', value : 'green-support-min', label : "Je souhaite uniquement des <glossary link=soins-palliatifs>mesures palliatives</glossary>." }
				]
				, 'Raison de mon choix&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-support"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>

			{{ _form.fieldRadioTextarea(
				"<strong>Concernant le traitement de la douleur et des symptômes&nbsp;:</strong>"
				, "green-douleur"
				, [
					{id : 'green-douleur-max', value : 'green-douleur-max', label : "Je souhaite que l’on fasse tout ce qui est indiqué d’un point de vue médical pour soulager mes douleurs et symptômes accablants (peur, agitation, difficultés à respirer, nausées), même si cela peut altérer mon état de conscience." },
					{id : 'green-douleur-min', value : 'green-douleur-min', label : "Il est particulièrement important pour moi de conserver un état de conscience et ma capacité de communiquer, même au prix de douleurs et autres symptômes." }
				]
				, 'Remarques complémentaires&nbsp;:'
			) }}
			<div class="action-bookmark">
				<bookmark-button type="questions" target="green-douleur"></bookmark-button>
				<div class="bookmark-help">
					J'ajoute cette question à mes notes<br>pour en parler avec mes soignants.
				</div>
			</div>
		</div> <!-- ! end green world -->

		{{ _form.fieldRadioTextarea(
			"<strong>Pour que vos souhaits puissent être correctement interprétés par les équipes soignantes,</strong> il est fortement recommandé d’en discuter avec eux et d’établir un plan des mesures médicales futures adaptées à votre état de santé et à vos priorités (<glossary link=psa>projet de soins</glossary>)."
			, "discussion-psa"
			, [
				{id : 'oui', value : 'oui', label : "J’ai discuté de mes <glossary link=objectifs>objectifs de soins</glossary> avec mes soignants de référence."},
				{id : 'non', value : 'non', label : "Je n’ai pas discuté de mes objectifs de soins et je comprends que mes souhaits ci-dessus peuvent être difficiles à interpréter."}
			]
			, ""
		) }}

		<p>De plus, nos préférences évoluent avec le temps. Il est donc important de régulièrement mettre à jour vos réponses à ce questionnaire.</p>

		{{ _form.fieldTextarea("form3-commentaire","<strong>Y a-t-il quelque chose que vous souhaiteriez ajouter en rapport avec cette section&nbsp;?</strong>") }}

		<nav class="pager">
			<div class="pager-item prev">
				<a href="write.form2.html">
					<span class="label">Étape précédente</span>
					<span class="subtitle">Mes valeurs et préférences</span>
				</a>
			</div>
			<div class="pager-item next">
				<a href="write.form4.html">
					<span class="label">Étape suivante</span>
					<span class="subtitle">Ma fin de vie</span>
				</a>
			</div>
		</nav>

	</div>

	</form>

{% endblock %}


{% block footer_javascript %}
<script type="text/javascript">
	$('form').sisyphus();
</script>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
