{% extends "base.njk" %}

{% block title %}Moi et mon entourage : mes représentants — ACCORD{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.form1.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vendor/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="js/vendor/sisyphus-1.1.3.min.js"></script>
<script type="text/javascript" src="js/write.js"></script>
{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORD</p>
		<h1>Représentant thérapeutique</h1>
	</div>

	<div class="section-content content-text section-mydata">
		<dl class="onpage-glossary-item">
			<dd>
				<p>L’auteur de <glossary link=da>directives anticipées</glossary> peut désigner une personne qui, en concertation avec les médecins, décidera du traitement médical à sa place si lui-même n’est plus en mesure de le faire. Il peut s’agir d’un proche, de son médecin ou d’une autre personne. Si aucun représentant thérapeutique n'est désigné, l'ordre légal est le suivant&nbsp;: <glossary link=legal>voir ici</glossary>.</p>

				<div class="more">
					<strong>Pourquoi est-il si important de nommer ses représentants thérapeutiques ?</strong>
					<br><br>Le ou la représentante thérapeutique sera votre porte-parole dans le cas où vous ne pourrez plus vous exprimer ou si vous venez à perdre votre discernement. Il s’agit de la personne de votre choix et celle-ci n’est pas forcément un membre de votre famille. Il est important de désigner une personne car
					<ol>
						<li>si vous en avez parlé avec elle, elle connaitra vos préférences et pourra s’adapter en temps réel à ce qui se passe et mieux se représenter ce que vous auriez voulu;</li>
						<li>si vous n’en désignez pas, cela se fera selon l’ordre légal qui désignera une personne que vous n’aurez peut-être pas choisie, et</li>
						<li>en la désignant formellement, vous donnez plus de poids à son rôle de représentante.</li>
					</ol>
				</div>

				<p class="source">
					<span class="label">Pour en savoir plus&nbsp;:</span> OFSP, 2018 <a href="https://www.bundespublikationen.admin.ch/cshop_mimes_bbl/48/48DF3714B1101EE980D4674912056C80.pdf">https://www.bundespublikationen.admin.ch/cshop_mimes_bbl/48/48DF3714B1101EE980D4674912056C80.pdf</a>
				</p>

				<p class="action-bookmark"><bookmark-button type="glossary" target="representant"></bookmark-button></p>
			</dd>
		</dl>

		<nav class="pager">
			<div class="pager-item prev">
				<a href="write.form1.html#closerelation2">
					<span class="label">Retour</span>
					<span class="subtitle">Moi et mon entourage</span>
				</a>
			</div>
		</nav>

	</div>

{% endblock %}

{% block footer_javascript %}
<script type="text/javascript">
	$('form').sisyphus();
</script>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
