{% extends "base.njk" %}

{% block title %}À propos de la confidentialité de mes données — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>À propos de la confidentialité de mes données</h1>
	</div>

	<div class="section-content content-text section-confidentialite">

		<div class="nav-section-home">
			<p>Dans la version aboutie de l’application ACCORDs, les données inscrites seront conservées de manière confidentielle sur un serveur et un login sera nécessaire pour y accéder. En tout temps, vous pourrez les modifier.</p>
			<a href="write.index.html">Retour au questionnaire</a>
		</div>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
