{% extends "base.njk" %}

{% block title %}Que faut-il savoir de moi — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Que faut-il savoir de moi</h1>
	</div>

	<div class="section-content section-form section-valeurs">

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-1">Une belle journée pour moi dans mon quotidien, c'est …</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-1"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-2">La chose que j'aimerais absolument faire ou vivre avant de mourir (un événement, une réconciliation, une conversation, une concrétisation d’un souhait, la découverte d’un lieu, un voyage, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-2"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-3">Mon apparence (j'accorde une importance particulière à soigner mon corps, ma tenue, je suis plutôt du genre nature, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-3"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-4">Ce qui me fait peur, m'angoisse (que vont devenir les gens qui dépendent de moi, mes animaux de companie, perte de maîtrise, peur qu'on ne me dise pas tout, questions financières, perte de maîtrise sur mon destin, souffrance, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-4"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-5">Ma vie deviendrait insupportable si je devais… (vivre en chaise roulante, vivre dans une institution de soin, ne plus pouvoir communiquer avec mes proches, ne plus reconnaître mes proches, être alité.e en permanence, être assisté.e pour la toilette, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-5"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-6">Quelques mots sur mes croyances religieuses ou ma spiritualité</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-6"></textarea>
			</div>
		</div>

	</div>

	<div class="section-content section-form section-valeurs">

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-7">Ce que j'aime faire (me promener dans la nature; passer du temps en compagnie de mes proches et amis, trainer au lit le matin, pratiquer ma religion, m'adonner à mon passe-temps X, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-7"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-8">Une pièce où je me sens à l'aise ressemble à … (une petite lumière pour dormir, température fraiche, luminosité, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-8"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-9">Moi et les autres (j'aime avoir mon espace, le calme, faire de nouvelles connaissances,  le bourdonnement de la vie autour de moi, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-9"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-10">Les sensations agréables (l'ordeur de la forêt; avoir bon chaud; des contacts physiques; l'odeur du pain, le goût du chocolat, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-10"></textarea>
			</div>
		</div>

		<div class="form-item form-item-text">
			<div class="form-label">
				<label for="form-valeurs-11">Je suis contrarié.e quand … (on me parle sans arrêt si je ne suis pas en mesure de répondre, on parle de moi comme si j'étais un enfant, la fenêtre reste ouverte et qu'il fait frois dehors, quand la radio fonctionne sans cesse, etc …)</label>
			</div>
			<div class="form-input">
				<textarea id="form-valeurs-11"></textarea>
			</div>
		</div>

	</div>

	<div class="section-content section-valeurs">
		<nav class="pager">
			<div class="pager-item prev">
				<a href="write.mydata.html">
					<span class="label">Étape précédente</span>
					<span class="subtitle">Qui je suis</span>
				</a>
			</div>
			<div class="pager-item next">
				<a href="write.soins.html">
					<span class="label">Étape suivante</span>
					<span class="subtitle">Mes préférences</span>
				</a>
			</div>
		</nav>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
