{% extends "base.njk" %}

{% block title %}Pour préparer mes directives anticipées — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Pour préparer mes directives anticipées</h1>
	</div>

	<div class="section-content content-text section-conseils">
		<p>Après votre visite de l'app ACCORDs, vous êtes prêt pour rédiger vos directives anticipées.<br>
			<a href="https://www.hug-ge.ch/directives-anticipees" target="_blank">Aux HUG</a>, vous pouvez les rédiger sur papier libre ou prendre un modèle. Parlez-en à vos soignants.</p>

		<p>Les trois étapes importantes à suivre pour les rendre valides et accessibles&nbsp;:</p>

		<ol>
			<li><strong>Rédigez</strong>, imprimez, datez et signez un document.</li>
			<li><strong>Déposez</strong> votre document signé à un endroit facilement accessible.</li>
			<li><strong>Informez</strong> les personnes et organismes clés de l'existence de vos directives, de leur contenu et du lieu de leur dépôt.</li>
		</ol>
	</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
