{% extends "base.njk" %}

{% block head_title %}J'écris — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}index.html{% endblock %}

{% block content %}

<div class="section-intro">
	<img src="img/icon-write.svg" class="section-icon" alt="">
	<p class="app-name">ACCORDs</p>
	<h1>J'écris</h1>
	<p>Que souhaitez-vous que l’on sache de vous et de vos préférences pour les soins&nbsp;? Faites-le savoir en répondant à quelques questions…</p>
</div>

<div class="section-summary">
	<div class="section-entry section-main">
		<a href="write.mydata.html">
			<h2>Qui je suis</h2>
			<div class="desc">
				<p>L'essentiel pour vous connaître.</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="write.valeurs.html">
			<h2>Que faut-il savoir de moi</h2>
			<div class="desc">
				<p>Pour approfondir</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-main">
		<a href="write.soins.html">
			<h2>Mes préférences</h2>
			<div class="desc">
				<p>Pour anticiper les soins et les urgences</p>
			</div>
		</a>
	</div>
	<div class="section-entry section-secondary">
		<a href="write.conseils.html">
			<h2>Pour préparer mes directives anticipées</h2>
		</a>
	</div>
</div>

{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
