{% extends "base.njk" %}

{% block title %}Mes préférences — ACCORDs{% endblock %}
{% block body_class %}write{% endblock %}
{% block parent_page %}write.index.html{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="js/vendor/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="js/vendor/sisyphus-1.1.3.min.js"></script>
{% endblock %}

{% block content %}
	<div class="section-intro">
		<img src="img/icon-write.svg" class="section-icon" alt="">
		<p class="app-name">ACCORDs</p>
		<h1>Mes préférences</h1>
		<p style="text-align: center;">Pour anticiper les soins et les urgences</p>
	</div>

	<form name="write.soins" id="write.soins">

	<div class="section-content section-form section-urgences">

		<h2>Pour prendre les décisions me concernant&nbsp;:</h2>

		{{ _form.fieldRadio(
			"<strong>Si j'ai ma " + _glossary.linkTo('capacité de discernement', 'discernement') + "</strong>, je voudrais&nbsp;:"
			, "discernement"
			, [{id : 'myself', value : 'myself', label : 'Décider par moi-même'}
				, {id : 'other', value : 'other', label : 'Associer une ou des personnes'}]
			, true) }}

		{{ _form.fieldRadio(
			"<strong>Si je n'ai plus ma " + _glossary.linkTo('capacité de discernement', 'discernement') + "</strong> à cause d'un <strong>évènement aigu</strong> (ex: coma, accident, attaque cérébrale, etc …), je souhaiterais&nbsp;:"
			, "no-discernement"
			, [{id : 'representant', value : 'representant', label : 'Désigner mon ' + _glossary.linkTo('représentant thérapeutique', 'representant') + ' afin de décider pour moi'}
				, {id : 'ordre', value : 'ordre', label : "Que mon représentant soit désigné selon l'" + _glossary.linkTo('ordre légal', 'legal') + '' }
				, {id : 'nobody', value : 'nobody', label : 'Je souhaite que certaines personnes ne soient pas impliquées' }]
			, true) }}

		{{ _form.fieldRadio(
			"<strong>Si mon cœur s'arrêtait soudainement</strong> (arrêt cardiaque), je dirais plutôt&nbsp;:"
			, "arret-cardiaque"
			, [{id : 'tantmieux', value : 'tantmieux', label : 'Que c\'est "tant mieux", c\'est la "belle mort", que l\'on me laisse tranquille", "c\'est une délivrance" …'}
				, {id : 'chance', value : 'chance', label : "Que l'on fasse tout ce qui indiqué d'un point de vue médical si j'ai des bonnes chances de retrouver mes capacités d'avant" }
				, {id : 'impossible', value : 'impossible', label : "Que l'on fasse l'impossible même si les chances de récupération sont très faibles ou nulles" }]
			, true) }}

		{{ _form.fieldRadio(
			"<strong>Si j'étais en soins palliatifs</strong> et devais avoir besoin de <strong>traitements contre la douleur</strong>, je dirais plutôt&nbsp;:"
			, "douleur"
			, [{id : 'tout', value : 'tout', label : "Que l'on fasse tout ce qui indiqué d'un point de vue médical pour me soulager, même si cela devait me faire perdre conscience voire mourir."}
				, {id : 'conscient', value : 'conscient', label : "Que je préfère rester conscient et pouvoir communiquer, même si cela devait me laisser encore des douleurs." }]
			, true) }}

		<div class="form-notice">
			(D'autres questions seront ajoutées par la suite.)
		</div>

		<div class="actions">
			<div class="action export">
				<button type="button" class="export-data">Exporter mon formulaire</button>
			</div>
		</div>

		<nav class="pager">
			<div class="pager-item prev">
				<a href="write.valeurs.html">
					<span class="label">Étape précédente</span>
					<span class="subtitle">Que faut-il savoir de moi</span>
				</a>
			</div>
		</nav>
	</div>

	</form>

{% endblock %}


{% block footer_javascript %}
<script type="text/javascript">
	$('form').sisyphus();
</script>
{% endblock %}

{% block navigation %}
	{% import 'nav-macro.njk' as nav %}
	{{nav.active('write')}}
{% endblock %}
