# Eclipse files
.classpath
.project

#Sublime files
package.sublime-workspace

# Node.js files
node_modules/
package-lock.*

# Cordova files
bin/
hooks/
platforms/
plugins/
res/
www/

# Misc
_docs/

\.docs/
