# Eclipse files
.classpath
.project
.settings/

#Sublime files
package.sublime-workspace

# Node.js files
node_modules/
package-lock.*
.vscode/
typings/
jsconfig.json

# Cordova files
bin/
hooks/
platforms/
plugins/
res/
www/

# Misc
_docs/

\.docs/
