{% macro inputRadio(id, name, value, label) %}
	<input type="radio" id="{{ id }}" name="{{ name }}" value="{{ value | escape }}"><label for="{{ id }}">{{ label | safe }}</label>
{% endmacro %}

{% macro fieldTextarea(id, value='') %}
	<div class="form-input">
		<textarea id="{{id}}">{{ value | escape }}</textarea>
	</div>
{% endmacro %}

{% macro fieldRadio(label, name, options, includeTextArea) %}
	<div class="form-item form-item-radio">
		<div class="form-label">{{ label | safe}}</div>
		<div class="form-input">
		{% for option in options %}
			{{ inputRadio(option.id, name, option.value, option.label) }}
			{% if loop.last %}{% else %}<br>{% endif %}
 		{% endfor %}
		</div>
		{% if includeTextArea %}
			{{ fieldTextarea(name + '-textarea') }}
		{% endif %}
	</div>
{% endmacro %}