{% macro inputRadio(id, name, value, label) %}
	<input type="radio" id="{{ id }}" name="{{ name }}" value="{{ value | escape }}">
	<label for="{{ id }}">{{ label | safe }}</label>
{% endmacro %}

{% macro inputCheckbox(id, name, value, label) %}
	<input type="checkbox" id="{{ id }}" name="{{ name }}" value="{{ value | escape }}">
	<label for="{{ id }}">{{ label | safe }}</label>
{% endmacro %}

{% macro fieldTextarea(name, label = '', value='') %}
	<div class="form-item form-item-textarea">
		<div class="form-label">
			<label for="{{ name }}">{{ label | safe}}</label>
		</div>
		<div class="form-input">
			<textarea id="{{ name }}" name="{{ name }}">{{ value | escape }}</textarea>
		</div>
	</div>
{% endmacro %}

{% macro fieldRadioTextarea(label, name, options, textareaLabel = '', textareaValue = '') %}
	<div class="form-item form-item-radio">
		<div class="form-label">{{ label | safe}}</div>
		<div class="form-input">
		{% for option in options %}
			<div class="form-input-radio">
			{{ inputRadio(option.id, name, option.value, option.label) }}
			</div>
			{% if option.text %}
				{% set textName = name + '-text' %}
				{{ fieldText(textName, option.text) }}
			{% endif %}
 		{% endfor %}
		</div>

		{% set textareaName = name + "-textarea" %}
		{% if textareaLabel !== '' %}
		<div class="form-label">
			<label for="{{ textareaName }}">{{ textareaLabel | safe}}</label>
		</div>
		<div class="form-input">
			<textarea id="{{ textareaName }}" name="{{ textareaName }}">{{ textareaValue | escape }}</textarea>
		</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro fieldCheckboxTextarea(label, name, options, textareaLabel = '', textareaValue = '') %}
	<div class="form-item form-item-checkbox">
		<div class="form-label">{{ label | safe}}</div>
		<div class="form-input">
		{% for option in options %}
			<div class="form-input-checkbox">
			{{ inputCheckbox(option.id, name, option.value, option.label) }}
			</div>
			{% if option.text %}
				{% set textName = name + '-text' %}
				{{ fieldText(textName, option.text) }}
			{% endif %}
 		{% endfor %}
		</div>

		{% set textareaName = name + "-textarea" %}
		{% if textareaLabel !== '' %}
		<div class="form-label">
			<label for="{{ textareaName }}">{{ textareaLabel | safe}}</label>
		</div>
		<div class="form-input">
			<textarea id="{{ textareaName }}" name="{{ textareaName }}">{{ textareaValue | escape }}</textarea>
		</div>
		{% endif %}
	</div>
{% endmacro %}

{% macro fieldText(name, label = '', type = 'text', value='') %}
	<div class="form-item form-item-text">
		{% if label !== '' %}
		<div class="form-label">
			<label for="{{ name }}">{{ label | safe}}</label>
		</div>
		{% endif %}
		<div class="form-input">
			<input type="{{ type }}" id="{{ name }}" name="{{ name }}" value="{{ value }}">
		</div>
	</div>
{% endmacro %}
