{% macro active(activePage='read') %}
<div class="nav-item section-read {%if activePage == 'read' %} active {% endif %}">
	<a href="read.index.html">
		<span class="icon">
			<img src="img/icon-read.svg" alt="">
		</span>
		<span class="label">Je m'informe</span>
	</a>
</div>
<div class="nav-item section-talk {%if activePage == 'talk' %} active {% endif %}">
	<a href="talk.index.html">
		<span class="icon">
			<img src="img/icon-talk.svg" alt="">
		</span>
		<span class="label">J'en parle</span>
	</a>
</div>
<div class="nav-item section-write {%if activePage == 'write' %} active {% endif %}">
	<a href="write.index.html">
		<span class="icon">
			<img src="img/icon-write.svg" alt="">
		</span>
		<span class="label">J'écris</span>
	</a>
</div>
<div class="nav-item section-notes {%if activePage == 'notes' %} active {% endif %}">
	<a href="notes.index.html">
		<span class="icon">
			<img src="img/icon-notes.svg" alt="">
		</span>
		<span class="label">Mes notes</span>
	</a>
</div>
{% endmacro %}
