* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fff;
  color: #333;
  font-size: 14px;
  line-height: 1.3;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }
  body.overlay-open {
    overflow: hidden; }

img {
  height: auto;
  max-width: 100%; }

h1 {
  overflow: visible;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; }

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; }

a {
  color: #009586; }

/* Portrait layout (default) */
.page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding: 15px 15px;
  padding-bottom: 71px; }

.welcome .logo {
  display: block;
  margin: 25px auto 10px;
  max-width: 50vw; }
.welcome h1 {
  margin: 10px 0 35px; }
  .welcome h1 .subtitle {
    margin-top: 20px;
    color: #777;
    font-size: 16px;
    font-style: italic; }
.welcome .teaser-slogans {
  width: 100vw;
  margin: 35px -15px 15px;
  position: relative;
  overflow: hidden; }
  .welcome .teaser-slogans .slogan {
    position: absolute;
    top: 0;
    width: 100vw;
    padding-left: 35px;
    padding-right: 35px;
    visibility: hidden;
    transition: all .5s ease-out;
    transition-property: left, opacity; }
    .welcome .teaser-slogans .slogan.next {
      opacity: 0;
      left: -120vw;
      z-index: 5; }
    .welcome .teaser-slogans .slogan.active {
      opacity: 1;
      left: 0;
      z-index: 3; }
    .welcome .teaser-slogans .slogan.last {
      opacity: 0;
      left: 120vw;
      z-index: 1;
      transition-duration: 1.5s; }
  .welcome .teaser-slogans .slogan-inner {
    padding: 10px 15px 12px;
    color: #fff;
    font-size: 22px;
    font-family: serif;
    line-height: 1;
    text-align: center;
    background-color: #009586;
    border-radius: 25px;
    box-shadow: 0 5px 20px -10px black; }

.main-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-size: 12px;
  line-height: 1;
  background-color: #fff; }
  .main-nav .nav-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    border-color: #eeecea;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px; }
    .main-nav .nav-item a {
      display: block;
      height: 55px;
      padding: 10px 2px 0;
      color: #706f6a;
      text-decoration: none;
      text-transform: uppercase;
      border-color: transparent;
      border-style: solid;
      border-width: 0;
      border-top-width: 1px; }
    .main-nav .nav-item .icon {
      display: block;
      height: 16px;
      margin: 0 auto 6px;
      text-decoration: none; }
      .main-nav .nav-item .icon img {
        display: block;
        width: auto;
        height: 20px;
        margin: 0 auto; }
      .main-nav .nav-item .icon .color {
        display: none; }
    .main-nav .nav-item .label {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .main-nav .nav-item.active .icon img {
      display: none; }
    .main-nav .nav-item.active .icon .color {
      display: block; }
    .main-nav .nav-item.section-read:hover {
      background-color: #e6f9f7; }
    .main-nav .nav-item.section-read.active, .main-nav .nav-item.section-read.active a {
      border-color: #00c7b3; }
    .main-nav .nav-item.section-talk:hover {
      background-color: #ecf7e4; }
    .main-nav .nav-item.section-talk.active, .main-nav .nav-item.section-talk.active a {
      border-color: #7ecc4b; }
    .main-nav .nav-item.section-write:hover {
      background-color: #ffefd3; }
    .main-nav .nav-item.section-write.active, .main-nav .nav-item.section-write.active a {
      border-color: #ffb023; }
    .main-nav .nav-item.section-notes:hover {
      background-color: #ffccde; }
      .main-nav .nav-item.section-notes:hover .icon::before {
        border-color: #ffccde; }
    .main-nav .nav-item.section-notes.active, .main-nav .nav-item.section-notes.active a {
      border-color: #ff005a; }
    .main-nav .nav-item.section-notes .i-con {
      position: relative; }
      .main-nav .nav-item.section-notes .i-con::before {
        content: '';
        position: absolute;
        top: -3px;
        left: 50%;
        left: calc(50% + 4px);
        z-index: 1;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        border: 2px solid #fff;
        background: #e00; }

.home .main-nav .nav-item.section-read {
  background-color: #e6f9f7;
  border-color: #00c7b3; }
  .home .main-nav .nav-item.section-read a {
    border-color: #00c7b3; }
.home .main-nav .nav-item.section-talk {
  background-color: #ecf7e4;
  border-color: #7ecc4b; }
  .home .main-nav .nav-item.section-talk a {
    border-color: #7ecc4b; }
.home .main-nav .nav-item.section-write {
  background-color: #ffefd3;
  border-color: #ffb023; }
  .home .main-nav .nav-item.section-write a {
    border-color: #ffb023; }
.home .main-nav .nav-item.section-notes {
  background-color: #ffccde;
  border-color: #ff005a; }
  .home .main-nav .nav-item.section-notes a {
    border-color: #ff005a; }

.back-nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-color: #ff005a; }
  .back-nav a {
    position: absolute;
    padding: 19px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
    .back-nav a img {
      display: block;
      margin: 0 auto;
      width: 22px;
      height: 22px; }

.home .back-nav {
  display: none; }

.section-intro {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px; }
  .section-intro .section-icon {
    display: block;
    width: 35px;
    height: auto;
    margin: 0 auto; }
  .section-intro .app-name {
    color: #777;
    text-align: center; }
  .section-intro h1 {
    margin-top: 10px;
    margin-bottom: 35px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; }

.section-intro-more {
  margin-top: 25px;
  text-align: right; }
  .section-intro-more h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal; }
  .section-intro-more a {
    text-decoration: none; }
  .section-intro-more + .section-intro-more {
    margin-top: 10px; }

.section-summary .section-entry a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none; }
.section-summary .section-entry h2 {
  color: #333;
  line-height: 1;
  font-weight: normal; }
.section-summary .section-entry:last-child {
  margin-bottom: 25px; }
.section-summary .section-main {
  margin-bottom: 25px; }
  .section-summary .section-main a {
    display: block;
    padding-bottom: 12px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.04); }
    .section-summary .section-main a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .section-summary .section-main h2 {
    margin-bottom: 10px; }
  .section-summary .section-main .desc {
    color: #666; }
.section-summary .section-main + .section-secondary {
  margin-top: 50px; }
.section-summary .section-secondary h2 {
  font-size: 18px; }

.content-text p {
  margin: 20px 0; }
.content-text ul, .content-text ol {
  margin-left: 20px; }
.content-text ul {
  list-style: square; }
.content-text li {
  margin: 10px 0; }

.glossary-dfn {
  text-decoration: none;
  cursor: pointer; }

.glossary-dfn {
  position: relative;
  display: inline-block;
  padding: 0 1.3em 0 0;
  text-decoration: none;
  border-bottom: 1px dashed; }
  .glossary-dfn::after {
    content: "?";
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: .8em;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 50px; }

dl.glossary-item dt {
  font-size: 20px;
  margin-bottom: 20px;
  color: #009586; }
dl.glossary-item dd p {
  margin: 10px 0; }
dl.glossary-item dd ul, dl.glossary-item dd ol {
  margin: 10px 0 10px 20px; }
dl.glossary-item dd ul {
  list-style: square; }
dl.glossary-item dd a {
  color: #009586; }
dl.glossary-item dd .more {
  margin: 15px 0 15px 10%;
  padding: 5px 10px;
  background-color: #eee; }
dl.glossary-item dd .syns {
  margin-bottom: 15px;
  padding: 2px 5px;
  font-size: 12px;
  background-color: #eee;
  border-radius: 3px; }
dl.glossary-item dd .source {
  margin-top: 15px;
  font-size: 12px; }
  dl.glossary-item dd .source a {
    color: #009586;
    text-decoration: none; }
dl.glossary-item dd .label {
  font-weight: bold;
  margin-right: 5px; }
dl.glossary-item dd .bookmark-btn .btn-label {
  color: #009586; }
dl.glossary-item dd .bookmark-btn.on {
  background-image: url("../img/icon-bookmark-new-on-read.svg"); }

.section-glossary dl.glossary-item {
  margin: 10px 0;
  padding: 10px 0 20px;
  border-bottom: 1px dotted #999; }
  .section-glossary dl.glossary-item:last-child {
    border-bottom: none; }

.section-about .sponsors-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  list-style: none; }
  .section-about .sponsors-logos li {
    flex: 0 0 33.33%;
    flex-basis: calc(100% / 3); }
  .section-about .sponsors-logos img {
    display: block; }
.section-about .contact-us a {
  text-decoration: none; }

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
  display: none;
  background-color: #fff; }

.overlay-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px 15px;
  padding-top: 60px;
  overflow: auto; }
  .overlay .overlay-content > *:first-child {
    margin-top: 0; }
  .overlay .overlay-content > *:last-child {
    margin-bottom: 0; }

.overlay-close {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  cursor: pointer;
  background: transparent url("../img/icon-close-black.svg") no-repeat 50% 50% scroll;
  background-size: 36px 36px; }

.overlay.compact {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: none; }

.compact .overlay-content {
  position: relative;
  width: 500px;
  max-width: 85vw;
  max-height: 85vh;
  margin: auto;
  padding-top: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 5px 25px -10px #000; }

.compact .overlay-close {
  background-image: url("../img/icon-close.svg"); }

.action-bookmark {
  margin: 10px 0 0;
  text-align: right; }

.bookmark-btn {
  display: inline-block;
  height: 1.1em;
  padding-left: 1.2em;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  background: transparent url("../img/icon-bookmark-off.svg") no-repeat 0 50% scroll;
  background-image: url("../img/icon-bookmark-new.svg");
  background-size: 1em 1em;
  vertical-align: text-bottom; }
  .bookmark-btn .btn-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    border-bottom: 1px dashed; }

.bookmark-help {
  margin-top: 5px;
  color: #777;
  font-style: italic; }

body.read .bookmark-btn.on {
  background-image: url("../img/icon-bookmark-new-on-read.svg"); }

body.talk .bookmark-btn.on {
  background-image: url("../img/icon-bookmark-new-on-talk.svg"); }

body.write .bookmark-btn.on {
  background-image: url("../img/icon-bookmark-new-on-write.svg"); }

.section-art {
  margin-bottom: 35px; }
  .section-art .art-item {
    clear: both; }
    .section-art .art-item a {
      color: #5f9938; }
    .section-art .art-item h2 {
      padding-top: 25px;
      padding-bottom: 10px;
      color: #7ecc4b;
      font-weight: normal;
      line-height: 1;
      overflow: hidden; }
      .section-art .art-item h2 .bookmark-btn {
        float: right; }
    .section-art .art-item .poster {
      float: left;
      max-width: 40%;
      margin-right: 15px;
      margin-bottom: 3px; }
    .section-art .art-item .type {
      margin-bottom: 10px;
      padding: 2px 10px;
      font-size: 12px;
      text-align: right;
      color: #fff;
      border-radius: 3px;
      font-weight: bold;
      background-color: #5f9938; }
      .section-art .art-item .type .label {
        font-weight: normal; }

.section-resources {
  margin-bottom: 35px; }
  .section-resources .resource-section a {
    color: #5f9938; }
  .section-resources .resource-section .section-name {
    margin-bottom: 10px;
    color: #888;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 4px solid #7ecc4b; }
  .section-resources .resource-item {
    overflow: hidden;
    margin-bottom: 10px; }
  .section-resources .resource-name {
    float: left;
    font-weight: bold; }
  .section-resources .resource-link {
    float: right;
    padding-left: 10px; }
  .section-resources .resource-item.soon {
    margin: 50px 0;
    color: #777;
    text-align: center;
    font-style: italic; }
    .section-resources .resource-item.soon .resource-name {
      font-weight: normal;
      float: none; }

.legal-intro {
  font-style: italic; }

.legal-deco {
  margin: 25px 0;
  padding-left: 15%; }
  .legal-deco img {
    border-radius: 10px; }

.legal-q {
  padding-right: 10%;
  color: #009586;
  font-weight: bold; }

.legal-a {
  padding-left: 10%; }

.section-vecu .vignettes {
  position: relative;
  margin: 25px -15px; }
.section-vecu .vignettes-list {
  padding: 0 15px; }
.section-vecu .vignette {
  position: relative;
  margin-bottom: 25px;
  padding: 12px 15px;
  line-height: 1.4;
  background: #ccf4f0;
  overflow: hidden; }
  .section-vecu .vignette::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 8px solid #fff;
    border-color: #fff #fff #00c7b3 #00c7b3; }
  .section-vecu .vignette strong {
    display: inline-block;
    font-size: 24px;
    line-height: 18.2px;
    font-weight: bold;
    color: #009586; }
.section-vecu .img-side {
  width: 50%;
  margin-bottom: 3px; }
  .section-vecu .img-side img {
    display: block; }
  .section-vecu .img-side.left {
    float: left;
    margin-right: 15px;
    margin-left: -15px; }
  .section-vecu .img-side.right {
    float: right;
    margin-right: -15px;
    margin-left: 15px; }
  .section-vecu .img-side:first-child {
    margin-top: -12px; }
.section-vecu .img-wide {
  margin: 15px -15px -12px; }
  .section-vecu .img-wide img {
    display: block;
    width: 100%; }

input[type="tel"],
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  border: 1px solid #bbb; }
  input[type="tel"]:focus,
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  select:focus,
  textarea:focus {
    border-color: #bf841a;
    background-color: #ffefd3; }
  input[type="tel"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 12px; }
  input[type="tel"]:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  select:-moz-placeholder,
  textarea:-moz-placeholder {
    font-size: 12px; }
  input[type="tel"]:placeholder,
  input[type="text"]:placeholder,
  input[type="date"]:placeholder,
  input[type="email"]:placeholder,
  input[type="number"]:placeholder,
  select:placeholder,
  textarea:placeholder {
    font-size: 12px; }

textarea {
  min-height: 70px;
  resize: vertical; }

.form-section-title {
  margin: 35px 0 25px;
  color: #bf841a;
  font-size: 20px; }

.form-item {
  margin: 25px 0; }
  .form-item .form-label {
    margin-bottom: 5px; }

.form-item-radio .form-input {
  margin: 10px 0; }
  .form-item-radio .form-input .form-item-text {
    margin: 0; }
    .form-item-radio .form-input .form-item-text .form-label {
      display: none; }
.form-item-radio .form-input-radio {
  position: relative;
  margin: 5px 0; }
  .form-item-radio .form-input-radio input {
    position: absolute;
    left: 5px;
    top: 7px; }
  .form-item-radio .form-input-radio label {
    display: block;
    padding: 5px 0 5px 25px;
    border-radius: 2px; }
    .form-item-radio .form-input-radio label strong {
      color: #bf841a; }
  .form-item-radio .form-input-radio input:checked + label {
    background-color: #ffefd3; }

.form-item-checkbox .form-input {
  margin: 10px 0; }
  .form-item-checkbox .form-input .form-item-text {
    margin: 0; }
    .form-item-checkbox .form-input .form-item-text .form-label {
      display: none; }
.form-item-checkbox .form-input-checkbox {
  position: relative;
  margin: 5px 0; }
  .form-item-checkbox .form-input-checkbox input {
    position: absolute;
    left: 5px;
    top: 7px; }
  .form-item-checkbox .form-input-checkbox label {
    display: block;
    padding: 5px 0 5px 25px;
    border-radius: 2px; }
    .form-item-checkbox .form-input-checkbox label strong {
      color: #bf841a; }
  .form-item-checkbox .form-input-checkbox input:checked + label {
    background-color: #ffefd3; }

.form-item-comp-textarea {
  margin: 0;
  padding-left: 25px; }

.form-note {
  color: #666;
  font-style: italic; }

.form-notice {
  text-align: center;
  font-style: italic; }

.pager {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-content: center; }
  .pager .pager-item {
    flex: 0 0 50%; }
    .pager .pager-item a {
      position: relative;
      display: block;
      color: #333;
      text-decoration: none;
      padding: 5px 10px 35px;
      background-color: #ffefd3; }
      .pager .pager-item a::after {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        bottom: 0;
        right: 5px;
        background: transparent url("../img/nav-next.svg") no-repeat 50% 50% scroll;
        background-size: contain;
        opacity: .5; }
    .pager .pager-item .label {
      display: block;
      font-weight: bold;
      color: #bf841a;
      margin-bottom: 5px; }
    .pager .pager-item .subtitle {
      display: block;
      font-size: 12px;
      line-height: 1; }
    .pager .pager-item.prev {
      padding-right: 5px; }
      .pager .pager-item.prev a::after {
        right: auto;
        left: 5px;
        background-image: url("../img/nav-prev.svg"); }
    .pager .pager-item.next {
      padding-left: 5px;
      text-align: right; }
      .pager .pager-item.next:first-child {
        margin-left: auto; }

.actions {
  margin: 25px 0;
  text-align: right; }
  .actions .action button {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #fff;
    line-height: 16px;
    font-weight: bold;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    background: #bf0044;
    border-radius: 5px; }
  .actions .action .export-data {
    padding-left: 36px; }
    .actions .action .export-data::before {
      content: '';
      width: 24px;
      height: 24px;
      background: transparent url("../img/icon-pdf.svg") no-repeat 50% 50% scroll;
      position: absolute;
      left: 6px;
      top: 6px; }

.reminder {
  margin: 50px 0;
  padding: 10px 15px;
  background-color: #eee; }
  .reminder .form-item {
    margin-bottom: 0; }
  .reminder .form-item-radio .form-input-radio {
    display: inline-block;
    margin-right: 5px; }
    .reminder .form-item-radio .form-input-radio label {
      padding-right: 7px; }
  .reminder .form-label,
  .reminder .form-input-radio label,
  .reminder .form-input-checkbox label {
    color: #555; }
    .reminder .form-label strong,
    .reminder .form-input-radio label strong,
    .reminder .form-input-checkbox label strong {
      color: #ac7717; }
  .reminder .form-item-radio .form-input-radio label strong,
  .reminder .form-item-checkbox .form-input-checkbox label strong {
    color: #ac7717; }
  .reminder .form-item-radio .form-input-radio input:checked + label,
  .reminder .form-item-checkbox .form-input-checkbox input:checked + label {
    color: #333;
    background-color: #eddec4; }
    .reminder .form-item-radio .form-input-radio input:checked + label strong,
    .reminder .form-item-checkbox .form-input-checkbox input:checked + label strong {
      color: #8f6314; }

.notice {
  margin: 25px 0;
  padding: 10px 15px;
  color: #333;
  background-color: #eee; }

.question-more-info {
  margin: 15px 0 15px 15%;
  padding: 5px 15px;
  border-radius: 3px;
  background-color: #ffefd3; }
  .question-more-info .glossary-dfn {
    padding-right: 0;
    color: #bf841a; }
    .question-more-info .glossary-dfn::after {
      display: none; }

.amorces {
  margin-bottom: 50px; }
  .amorces h3 {
    margin: 50px 0 20px;
    font-weight: bold;
    color: #5f9938; }
  .amorces a {
    color: #5f9938; }
  .amorces .amorce {
    position: relative;
    margin-bottom: 30px;
    margin-right: 50px;
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 5px; }
    .amorces .amorce .action-bookmark {
      margin-top: 0; }
    .amorces .amorce::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 25px;
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top-color: #eee;
      border-top-width: 10px; }
    .amorces .amorce:nth-child(2n) {
      margin-right: 0;
      margin-left: 50px;
      background-color: #d2edc0; }
      .amorces .amorce:nth-child(2n)::after {
        left: auto;
        right: 25px;
        border-top-color: #d2edc0; }

body.notes .section-intro {
  padding-left: 0;
  padding-right: 0; }

.notes-section {
  margin-bottom: 25px; }
  .notes-section > h2 {
    margin-bottom: 10px;
    color: #ff005a;
    font-weight: normal; }
  .notes-section a {
    color: #bf0044; }
  .notes-section .notes-bookmarks .no-data {
    text-align: center;
    font-style: italic;
    margin: 15px 0; }
  .notes-section .notes-bookmarks .tip {
    min-height: 30px;
    font-size: 14px;
    padding: 5px 10px 5px 35px;
    background: #eee url("../img/icon-tip.svg") no-repeat 5px 5px scroll;
    background-size: 25px auto; }
  .notes-section .notes-bookmarks .group {
    margin-bottom: 25px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px; }
    .notes-section .notes-bookmarks .group > h3 {
      font-weight: bold;
      margin-bottom: 10px;
      color: #bf0044; }
  .notes-section .notes-bookmarks .bookmark-item {
    position: relative;
    padding: 10px 0;
    padding-left: 30px; }
    .notes-section .notes-bookmarks .bookmark-item::before {
      content: '';
      position: absolute;
      left: -1px;
      top: 9px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border-radius: 4px;
      background: transparent url("../img/icon-bookmark-on.svg") no-repeat 50% 50% scroll;
      background-image: url("../img/icon-bookmark-new.svg");
      background-size: 24px 24px; }
    .notes-section .notes-bookmarks .bookmark-item::after {
      content: '';
      position: absolute;
      left: 30%;
      right: 30%;
      bottom: -1px;
      height: 2px;
      background-color: #bf0044; }
    .notes-section .notes-bookmarks .bookmark-item:last-child::after {
      display: none; }
  .notes-section .notes-bookmarks .section-read .bookmark-item::before {
    background-image: url("../img/icon-bookmark-new-on-read.svg"); }
  .notes-section .notes-bookmarks .section-talk .bookmark-item::before {
    background-image: url("../img/icon-bookmark-new-on-talk.svg"); }
  .notes-section .notes-bookmarks .section-write .bookmark-item::before {
    background-image: url("../img/icon-bookmark-new-on-write.svg"); }
  .notes-section .notes-freetext textarea {
    width: 100%;
    min-height: 100px; }

body.read input[type="tel"]:focus,
body.read input[type="text"]:focus,
body.read input[type="date"]:focus,
body.read input[type="email"]:focus,
body.read input[type="number"]:focus,
body.read select:focus,
body.read textarea:focus {
  border-color: #009586;
  background-color: #ccf4f0; }
body.read .app a,
body.read .bookmark-btn .btn-label {
  color: #009586; }
body.read .back-nav {
  background-color: #00c7b3; }
body.read .section-summary .section-entry h2 {
  color: #009586; }
body.read .actions .action button {
  background-color: #009586; }

body.talk input[type="tel"]:focus,
body.talk input[type="text"]:focus,
body.talk input[type="date"]:focus,
body.talk input[type="email"]:focus,
body.talk input[type="number"]:focus,
body.talk select:focus,
body.talk textarea:focus {
  border-color: #5f9938;
  background-color: #d2edc0; }
body.talk .app a,
body.talk .bookmark-btn .btn-label {
  color: #5f9938; }
body.talk .back-nav {
  background-color: #7ecc4b; }
body.talk .section-summary .section-entry h2 {
  color: #5f9938; }
body.talk .actions .action button {
  background-color: #5f9938; }

body.write input[type="tel"]:focus,
body.write input[type="text"]:focus,
body.write input[type="date"]:focus,
body.write input[type="email"]:focus,
body.write input[type="number"]:focus,
body.write select:focus,
body.write textarea:focus {
  border-color: #bf841a;
  background-color: #ffefd3; }
body.write .app a,
body.write .bookmark-btn .btn-label {
  color: #bf841a; }
body.write .back-nav {
  background-color: #ffb023; }
body.write .section-summary .section-entry h2 {
  color: #bf841a; }
body.write .actions .action button {
  background-color: #bf841a; }
body.write .form-label,
body.write .form-input-radio label,
body.write .form-input-checkbox label {
  color: #666; }
  body.write .form-label strong,
  body.write .form-input-radio label strong,
  body.write .form-input-checkbox label strong {
    color: #bf841a; }

body.notes input[type="tel"]:focus,
body.notes input[type="text"]:focus,
body.notes input[type="date"]:focus,
body.notes input[type="email"]:focus,
body.notes input[type="number"]:focus,
body.notes select:focus,
body.notes textarea:focus {
  border-color: #bf0044;
  background-color: #ffe6ef; }
body.notes .app a,
body.notes .bookmark-btn .btn-label {
  color: #bf0044; }
body.notes .back-nav {
  background-color: #ff005a; }
body.notes .section-summary .section-entry h2 {
  color: #bf0044; }
body.notes .actions .action button {
  background-color: #bf0044; }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1 / 1) and (min-width: 400px) {
  .page {
    padding-bottom: 15px;
    padding-top: 71px; }

  .main-nav {
    top: 0;
    bottom: auto; }
    .main-nav .nav-item,
    .main-nav .nav-item a {
      border-top-width: 0;
      border-bottom-width: 1px; } }

/*# sourceMappingURL=index.css.map */
