$accent1: #00c7b3;
$accent2: #7ecc4b;
$accent3: #ffb023;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#fff;
    background-image:linear-gradient(top, #eee 0%, #fff 100%);
    background-image:-webkit-linear-gradient(top, #eee 0%, #fff 100%);
    background-image:-ms-linear-gradient(top, #eee 0%, #fff 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #eee),
        color-stop(1, #fff)
    );

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* Portrait layout (default) */
$menu-height: 56px;
$page-vpadding: 15px;
.page {
    width: 100vw;
    min-height: 100vh;
    padding: $page-vpadding 15px;
    padding-bottom: $page-vpadding + $menu-height;
}

.app {}

.welcome {
    .logo {
        display: block;
        margin: 25px auto;
        max-width: 50vw;
    }
    h1 {
        margin: 25px 0;
    }
}

// main navigation
.main-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    line-height: 1;
    background-color: #fff;
    .nav-item {
        flex: 0 0 33.33%;
        text-align: center;
        border-color: #eeecea;
        border-style: solid;
        border-width: 0;
        border-top-width: 1px;
        a {
            display: block;
            height: 55px;
            padding: 10px 10px 0;
            color: #706f6a;
            text-decoration: none;
            text-transform: uppercase;
            border-color: transparent;
            border-style: solid;
            border-width: 0;
            border-top-width: 1px;
        }
        .icon {
            display: block;
            height: 16px;
            margin: 0 auto 6px;
            text-decoration: none;
            img {
                display: block;
                width: auto;
                height: 20px;
                margin: 0 auto;
            }
        }
        .label {
        }

        &.section-read {
            &:hover {
                background-color: mix($accent1, #fff, 10%);
            }
            &.active,
            &.active a {
                border-color: $accent1;
            }
        }
        &.section-talk {
            &:hover {
                background-color: mix($accent2, #fff, 15%);
            }
            &.active,
            &.active a {
                border-color: $accent2;
            }
        }
        &.section-write {
            &:hover {
                background-color: mix($accent3, #fff, 20%);
            }
            &.active,
            &.active a {
                border-color: $accent3;
            }
        }
    }
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .page {
        padding-bottom: $page-vpadding;
        padding-top: $page-vpadding + $menu-height;
    }
    .main-nav {
        top: 0;
        bottom: auto;
        .nav-item,
        .nav-item a {
            border-top-width: 0;
            border-bottom-width: 1px;
        }
    }
}
