// couleurs aussi utilisées dans les fichiers SVG *-color.svg et icon-bookmark-on-*.svg
$accent1: #00c7b3; // read
$accent2: #7ecc4b; // talk
$accent3: #ffb023; // write
$accent4: #ff005a; // notes

$accent1-dark: mix($accent1, #000, 75%);
$accent2-dark: mix($accent2, #000, 75%);
$accent3-dark: mix($accent3, #000, 75%);
$accent4-dark: mix($accent4, #000, 75%);

$accent1-light: mix($accent1, #fff, 20%);
$accent2-light: mix($accent2, #fff, 35%);
$accent3-light: mix($accent3, #fff, 20%);
$accent4-light: mix($accent4, #fff, 35%);

$text1: #444; // petit texte, couleur principale
$text2: #777; // grand texte, sous-titres
$text3: #999; // éléments désactivés

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#fff;

    color: $text1;
    font-size: 14px;
    line-height: 1.3;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
// body.home {
//     background-image:linear-gradient(top, #eee 0%, #fff 100%);
//     background-image:-webkit-linear-gradient(top, #eee 0%, #fff 100%);
//     background-image:-ms-linear-gradient(top, #eee 0%, #fff 100%);
//     background-image:-webkit-gradient(
//         linear,
//         left top,
//         left bottom,
//         color-stop(0, #eee),
//         color-stop(1, #fff)
//     );
// }


img {
    height: auto;
    max-width: 100%;
}

h1 {
    overflow: visible;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Portrait layout (default) */
$menu-height: 56px;
$page-vpadding: 15px;
.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: $page-vpadding 15px;
    padding-bottom: $page-vpadding + $menu-height;
}

.w7lcome {
    .logo {
        display: block;
        margin: 25px auto;
        max-width: 50vw;
    }
    h1 {
        margin: 25px 0;
    }
}

// navigation
.main-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: 12px;
    line-height: 1;
    background-color: #fff;
    .nav-item {
        flex: 0 0 25%;
        max-width: 25%;
        text-align: center;
        border-color: #eeecea;
        border-style: solid;
        border-width: 0;
        border-top-width: 1px;
        a {
            display: block;
            height: 55px;
            padding: 10px 2px 0;
            color: #706f6a;
            text-decoration: none;
            text-transform: uppercase;
            border-color: transparent;
            border-style: solid;
            border-width: 0;
            border-top-width: 1px;
        }
        .icon {
            display: block;
            height: 16px;
            margin: 0 auto 6px;
            text-decoration: none;
            img {
                display: block;
                width: auto;
                height: 20px;
                margin: 0 auto;
            }
            .color {
                display: none;
            }
        }
        .label {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.active {
            .icon {
                img {
                    display: none;
                }
                .color {
                    display: block;
                }
            }
        }

        &.section-read {
            &:hover {
                background-color: mix($accent1, #fff, 10%);
            }
            &.active,
            &.active a {
                border-color: $accent1;
            }
        }
        &.section-talk {
            &:hover {
                background-color: mix($accent2, #fff, 15%);
            }
            &.active,
            &.active a {
                border-color: $accent2;
            }
        }
        &.section-write {
            &:hover {
                background-color: mix($accent3, #fff, 20%);
            }
            &.active,
            &.active a {
                border-color: $accent3;
            }
        }
        &.section-notes {
            &:hover {
                background-color: mix($accent4, #fff, 20%);
            }
            &.active,
            &.active a {
                border-color: $accent4;
            }
        }
    }
}

.back-nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: $accent4;
    a {
        position: absolute;
        padding: 19px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        img {
            display: block;
            margin: 0 auto;
            width: 22px;
            height: 22px;
        }
    }
}


// section intro
.section-intro {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    .section-icon {
        display: block;
        width: 35px;
        height: auto;
        margin: 0 auto;
    }
    .app-name {
        color: #777;
        text-align: center;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 35px;
        font-weight: bold;
        line-height: 1;
        font-family: 'Roboto Condensed', sans-serif;
    }
    p {}
}

.section-summary {
    .section-entry {
        a {
            display: block;
            padding: 10px 15px;
            color: $text1;
            text-decoration: none;
        }
        h2 {
            color: $text1;
            line-height: 1;
            font-weight: normal;
        }
        &:last-child {
            margin-bottom: 25px;
        }
    }
    .section-main {
        margin-bottom: 25px;
        a {
            display: block;
            padding-bottom: 12px;
            border-radius: 10px;
            background-color: rgba(0,0,0,.04);
            &:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
        h2 {
            margin-bottom: 10px;
        }
        .desc {
            color: $text2;
            p {}
        }
    }
    .section-main + .section-secondary {
        margin-top: 50px;
    }
    .section-secondary {
        a {}
        h2 {
            // color: $accent1-dark;
            font-size: 18px;
        }
    }
}


// glossary
dl.glossary-item {
    dt {
        font-size: 20px;
        margin-bottom: 20px;
        color: $accent1-dark;
    }
    dd {
        p {}
        .syns {
            margin-bottom: 15px;
            padding: 2px 5px;
            font-size: 12px;
            background-color: #eee;
            border-radius: 3px;
        }
        .source {
            margin-top: 15px;
            font-size: 12px;
            a {
                color: $accent1-dark;
                text-decoration: none;
            }
        }
        .label {
            font-weight: bold;
            margin-right: 5px;
        }
    }
}
.section-glossary {
    dl.glossary-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px dotted #999;
        &:last-child {
            border-bottom: none;
        }
    }
}


// popup
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    display: none;
}
.overlay-content {
    width: 300px;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
    padding: 10px 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 25px -10px #000;
}
.overlay-close {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    background: transparent url('../img/icon-close.svg') no-repeat 50% 50% scroll;
    background-size: 24px 24px;
}


// bookmarking
.bookmark-btn {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    border-radius: 4px;
    background: transparent url('../img/icon-bookmark-off.svg') no-repeat 50% 50% scroll;
    background-size: 1em 1em;
    vertical-align: text-bottom;
    &:hover {
        background-color: $accent1-light;
    }
    &.on {
        background-image: url('../img/icon-bookmark-on.svg');
    }
}

body.read .bookmark-btn.on {background-image: url('../img/icon-bookmark-on-read.svg');}
body.talk .bookmark-btn.on {background-image: url('../img/icon-bookmark-on-talk.svg');}
body.write .bookmark-btn.on {background-image: url('../img/icon-bookmark-on-write.svg');}


// legal aspects
.section-legal {
    p {
        margin: 20px 0;
    }
    ol {
        margin-left: 20px;
    }
    ul {
        margin-left: 20px;
        list-style: square;
    }
    li {
        margin: 10px 0;
    }
}
.legal-intro {
    font-style: italic;
}
.legal-deco {
    margin: 25px 0;
    padding-left: 15%;
    img {
        border-radius: 10px;
    }
}
.legal-q {
    padding-right: 15%;
    color: $accent1-dark;
    font-weight: bold;
}
.legal-a {
    padding-left: 15%;
}


// true stories
.section-vecu {
    .vignettes {
        position: relative;
        margin: 25px -15px;
    }
    .vignettes-nav {
        .next {}
        .prev {}
    }
    .vignettes-list {
        padding: 0 15px;
    }
    .vignette {
        position: relative;
        margin-bottom: 25px;
        padding: 12px 15px;
        line-height: 1.4;
        background: $accent1-light;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 8px solid #fff;
            border-color: #fff #fff $accent1 $accent1;
        }
        p {}
        strong {
            display: inline-block;
            font-size: 24px;
            line-height: 18.2px;
            font-weight: bold;
            color: $accent1-dark;
        }
    }
    .img-side {
        width: 50%;
        margin-bottom: 3px;
        img {
            display: block;
        }
        &.left {
            float: left;
            margin-right: 15px;
            margin-left: -15px;
        }
        &.right {
            float: right;
            margin-right: -15px;
            margin-left: 15px;
        }
        &:first-child {
            margin-top: -12px;
        }
    }
    .img-wide {
        margin: 15px -15px -12px;
        img {
            display: block;
        }
    }
}

// form elements
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.4;
    font-family: sans-serif;
    border: 1px solid #bbb;
    &:focus {
        border-color: $accent3-dark;
        background-color: $accent3-light;
    }
}
textarea {
    min-height: 70px;
    resize: vertical;
}
*::-webkit-input-placeholder {font-size: 12px;}
*:-moz-placeholder {font-size: 12px;}
*:placeholder {font-size: 12px;}

.form-section-title {
    margin: 35px 0 25px;
    color: $accent3-dark;
    font-size: 20px;
    // font-weight: normal;
}

.form-item {
    margin: 25px 0;
    .form-label {
        margin-bottom: 5px;
    }
    .form-input {}
}

.pager {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    .pager-item {
        flex: 0 0 50%;
        a {
            position: relative;
            display: block;
            color: $text1;
            text-decoration: none;
            padding: 5px 10px 35px;
            background-color: $accent3-light;
            &::after {
                content: '';
                position: absolute;
                width: 36px;
                height: 36px;
                bottom: 0;
                right: 5px;
                background: transparent url('../img/nav-next.svg') no-repeat 50% 50% scroll;
                background-size: contain;
                opacity: .5;
            }
        }
        .label {
            display: block;
            font-weight: bold;
            color: $accent3-dark;
            margin-bottom: 5px;
        }
        .subtitle {
            display: block;
            font-size: 12px;
            line-height: 1;
        }
        &.prev {
            padding-right: 5px;
            a::after {
                right: auto;
                left: 5px;
                background-image: url('../img/nav-prev.svg');
            }
        }
        &.next {
            padding-left: 5px;
            text-align: right;
            &:first-child {
                margin-left: auto;
            }
        }
    }
}


// notes section
body.notes {
    .section-intro {
        padding-left: 0;
        padding-right: 0;
    }
}
.notes-section {
    margin-bottom: 25px;
    & > h2 {
        margin-bottom: 10px;
        color: $accent4;
        font-weight: normal;
    }
    .notes-bookmarks {
        .no-data {
            text-align: center;
            font-style: italic;
            margin: 15px 0;
        }
        .tip {
            min-height: 30px;
            font-size: 14px;
            padding: 5px 10px 5px 35px;
            background: #eee url('../img/icon-tip.svg') no-repeat 5px 5px scroll;
            background-size: 25px auto;
        }
    }
    .notes-freetext {
        textarea {
            width: 100%;
            min-height: 100px;
        }
    }
}


// color variations
body.read {
    // background-image:linear-gradient(top,         mix($accent1, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-linear-gradient(top, mix($accent1, #fff, 10%) 0%, #fff 100%);
    // background-image:-ms-linear-gradient(top,     mix($accent1, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, mix($accent1, #fff, 10%)),
    //     color-stop(1, #fff)
    // );
    .back-nav {
        background-color: $accent1;
    }
    .section-summary .section-entry h2 {
        color: $accent1-dark;
    }
}
body.talk {
    // background-image:linear-gradient(top,         mix($accent2, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-linear-gradient(top, mix($accent2, #fff, 10%) 0%, #fff 100%);
    // background-image:-ms-linear-gradient(top,     mix($accent2, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, mix($accent2, #fff, 10%)),
    //     color-stop(1, #fff)
    // );
    .back-nav {
        background-color: $accent2;
    }
    .section-summary .section-entry h2 {
        color: $accent2-dark;
    }
}
body.write {
    // background-image:linear-gradient(top,         mix($accent3, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-linear-gradient(top, mix($accent3, #fff, 10%) 0%, #fff 100%);
    // background-image:-ms-linear-gradient(top,     mix($accent3, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, mix($accent3, #fff, 10%)),
    //     color-stop(1, #fff)
    // );
    .back-nav {
        background-color: $accent3;
    }
    .section-summary .section-entry h2 {
        color: $accent3-dark;
    }
}
body.notes {
    // background-image:linear-gradient(top,         mix($accent4, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-linear-gradient(top, mix($accent4, #fff, 10%) 0%, #fff 100%);
    // background-image:-ms-linear-gradient(top,     mix($accent4, #fff, 10%) 0%, #fff 100%);
    // background-image:-webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, mix($accent4, #fff, 10%)),
    //     color-stop(1, #fff)
    // );
    .back-nav {
        background-color: $accent4;
    }
    .section-summary .section-entry h2 {
        color: $accent4-dark;
    }
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .page {
        padding-bottom: $page-vpadding;
        padding-top: $page-vpadding + $menu-height;
    }
    .main-nav {
        top: 0;
        bottom: auto;
        .nav-item,
        .nav-item a {
            border-top-width: 0;
            border-bottom-width: 1px;
        }
    }
}


