// couleurs aussi utilisées dans les fichiers SVG *-color.svg et icon-bookmark-on-*.svg
$accent1: #00c7b3; // read
$accent2: #7ecc4b; // talk
$accent3: #ffb023; // write
$accent4: #ff005a; // notes

$accent1-dark: mix($accent1, #000, 75%);
$accent2-dark: mix($accent2, #000, 75%);
$accent3-dark: mix($accent3, #000, 75%);
$accent4-dark: mix($accent4, #000, 75%);

$accent1-light: mix($accent1, #fff, 20%);
$accent2-light: mix($accent2, #fff, 35%);
$accent3-light: mix($accent3, #fff, 20%);
$accent4-light: mix($accent4, #fff, 10%);

$text1: #333; // petit texte, couleur principale
$text2: #666; // grand texte, sous-titres
$text3: #999; // éléments désactivés

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:#fff;

    color: $text1;
    font-size: 14px;
    line-height: 1.3;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    &.overlay-open {
        overflow: hidden;
    }
}

img {
    height: auto;
    max-width: 100%;
}

h1 {
    overflow: visible;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a {
    color: $accent1-dark;
}

/* Portrait layout (default) */
$menu-height: 56px;
$page-vpadding: 15px;
.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    padding: $page-vpadding 15px;
    padding-bottom: $page-vpadding + $menu-height;
}

.welcome {
    .logo {
        display: block;
        margin: 25px auto 10px;
        max-width: 50vw;
    }
    h1 {
        margin: 10px 0 35px;
        .subtitle {
            margin-top: 20px;
            color: #777;
            font-size: 16px;
            font-style: italic;
        }
    }
    .teaser-slogans {
        width: 100vw;
        margin: 35px -15px 15px;
        position: relative;
        overflow: hidden;
        .slogan {
            position: absolute;
            top: 0;
            width: 100vw;
            padding-left: 35px;
            padding-right: 35px;
            visibility: hidden;
            transition: all .5s ease-out;
            transition-property: left, opacity;
            &.next {
                opacity: 0;
                left: -120vw;
                z-index: 5;
                // transform: scale(2);
            }
            &.active {
                opacity: 1;
                left: 0;
                z-index: 3;
                // transform: scale(1);
            }
            &.last {
                opacity: 0;
                left: 120vw;
                z-index: 1;
                transition-duration: 1.5s;
            }
        }
        .slogan-inner {
            padding: 10px 15px 12px;
            color: #fff;
            font-size: 22px;
            font-family: serif;
            line-height: 1;
            text-align: center;
            background-color: $accent1-dark;
            border-radius: 25px;
            box-shadow: 0 5px 20px -10px rgba(0,0,0,1);
        }
    }

    .how-to {
        margin: 15px 0 10px;
        font-size: 18px;
        text-align: center;
        a {
            text-decoration: none;
        }
    }

    @media (max-height: 700px) {
        .logo {
            margin: 0 auto;
        }
        h1 {
            margin-top: 0;
        }
    }
}

// navigation
.main-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: 12px;
    line-height: 1;
    background-color: #fff;
    .nav-item {
        flex: 0 0 25%;
        max-width: 25%;
        text-align: center;
        border-color: #eeecea;
        border-style: solid;
        border-width: 0;
        border-top-width: 1px;
        a {
            display: block;
            height: 55px;
            padding: 10px 2px 0;
            color: #706f6a;
            text-decoration: none;
            text-transform: uppercase;
            border-color: transparent;
            border-style: solid;
            border-width: 0;
            border-top-width: 1px;
        }
        .icon {
            display: block;
            height: 16px;
            margin: 0 auto 6px;
            text-decoration: none;
            img {
                display: block;
                width: auto;
                height: 20px;
                margin: 0 auto;
            }
            .color {
                display: none;
            }
        }
        .label {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.active {
            .icon {
                img {
                    display: none;
                }
                .color {
                    display: block;
                }
            }
        }

        &.section-read {
            &:hover {
                background-color: mix($accent1, #fff, 10%);
            }
            &.active,
            &.active a {
                border-color: $accent1;
            }
        }
        &.section-talk {
            &:hover {
                background-color: mix($accent2, #fff, 15%);
            }
            &.active,
            &.active a {
                border-color: $accent2;
            }
        }
        &.section-write {
            &:hover {
                background-color: mix($accent3, #fff, 20%);
            }
            &.active,
            &.active a {
                border-color: $accent3;
            }
        }
        &.section-notes {
            &:hover {
                background-color: mix($accent4, #fff, 20%);
                .icon::before {
                    border-color: mix($accent4, #fff, 20%);
                }
            }
            &.active,
            &.active a {
                border-color: $accent4;
            }

            // ### temporaire : point rouge d'activité
            .i-con {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: 50%;
                    left: calc(50% + 4px);
                    z-index: 1;
                    width: 12px;
                    height: 12px;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    background: #e00;
                }
            }
        }
    }
}

.home .main-nav .nav-item {
    &.section-read  {background-color: mix($accent1, #fff, 10%); border-color: $accent1; a {border-color: $accent1;}}
    &.section-talk  {background-color: mix($accent2, #fff, 15%); border-color: $accent2; a {border-color: $accent2;}}
    &.section-write {background-color: mix($accent3, #fff, 20%); border-color: $accent3; a {border-color: $accent3;}}
    &.section-notes {background-color: mix($accent4, #fff, 20%); border-color: $accent4; a {border-color: $accent4;}}
}

.back-nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    background-color: $accent4;
    a {
        position: absolute;
        padding: 19px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        img {
            display: block;
            margin: 0 auto;
            width: 22px;
            height: 22px;
        }
    }
}

.home .back-nav {
    display: none;
}


// section intro
.section-intro {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    .section-icon {
        display: block;
        width: 35px;
        height: auto;
        margin: 0 auto;
    }
    .app-name {
        color: #777;
        text-align: center;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 35px;
        font-weight: bold;
        line-height: 1;
        font-family: 'Roboto Condensed', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    }
}

.section-intro-more {
    margin-top: 25px;
    text-align: right;
    h2 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;
    }
    a {
        text-decoration: none;
    }
    & + .section-intro-more {
        margin-top: 10px;
    }
}

.section-summary {
    .section-entry {
        a {
            display: block;
            padding: 10px 15px;
            color: $text1;
            text-decoration: none;
        }
        h2 {
            color: $text1;
            line-height: 1;
            font-weight: normal;
        }
        &:last-child {
            margin-bottom: 25px;
        }
    }
    .section-main {
        margin-bottom: 25px;
        a {
            display: block;
            padding-bottom: 12px;
            border-radius: 10px;
            background-color: rgba(0,0,0,.04);
            &:hover {
                background-color: rgba(0,0,0,.1);
            }
        }
        h2 {
        }
        .desc {
            margin-top: 10px;
            color: $text2;
        }
    }
    .section-main + .section-secondary {
        margin-top: 50px;
    }
    .section-secondary {
        a {}
        h2 {
            // color: $accent1-dark;
            font-size: 18px;
        }
    }
}

.content-text {
    p {
        margin: 20px 0;
    }
    ul, ol {
        margin-left: 20px;
    }
    ul {
        list-style: square;
    }
    li {
        margin: 10px 0;
    }
}

.section-chapo {
    text-align: center;
    margin-bottom: 40px;
    p:first-child {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }
}


// glossary

    // liens glossaire
        .glossary-dfn {
            text-decoration: none;
            cursor: pointer;
        }
    // v1 - souligné trétillé + point d'interrogation dans un cercle
        .glossary-dfn {
            position: relative;
            display: inline-block;
            padding: 0 1.3em 0 0;
            text-decoration: none;
            border-bottom: 1px dashed;
            &::after {
                content: "?";
                position: absolute;
                right: 0;
                top: 0;
                color: #fff;
                font-size: .8em;
                width: 1.3em;
                height: 1.3em;
                line-height: 1.2;
                text-align: center;
                background-color: rgba(0,0,0,.65);
                border-radius: 50px;
            }
        }
    // v2 - encadré avec fond de couleur et point d'interrogation plus foncé
        // .glossary-dfn {
        //     position: relative;
        //     display: inline-block;
        //     padding: 0 1.4em 0 3px;
        //     color: #fff !important;
        //     background-color: #5f9938; // !!! couleurs à faire varier en fonction de chaque section de l'app
        //     text-decoration: none;
        //     line-height: 1.2em;
        //     border-radius: 3px;
        //     &::after {
        //         content: "?";
        //         position: absolute;
        //         right: 0;
        //         top: 0;
        //         bottom: 0;
        //         color: #fff;
        //         font-size: 1em;
        //         width: 1.2em;
        //         height: 1.2em;
        //         line-height: 1.2;
        //         text-align: center;
        //         background-color: rgba(0,0,0,.35);
        //         border-radius: 0 3px 3px 0;
        //     }
        // }
.overlay dl.glossary-item,
dl.glossary-item {
    dt {
        font-size: 20px;
        margin-bottom: 20px;
        color: $accent1-dark;
    }
    dd {
        p {
            margin: 10px 0;
        }
        ul, ol {
            margin: 10px 0 10px 20px;
        }
        ul {
            list-style: square;
        }
        a {
            color: $accent1-dark;
        }
        .bookmark-btn .btn-label {color: $accent1-dark;}
        .bookmark-btn.on {background-image: url('../img/icon-bookmark-new-on-read.svg');}
    }
}
.glossary-item dd {
    .syns {
        margin-bottom: 15px;
        padding: 2px 5px;
        font-size: 12px;
        background-color: #eee;
        border-radius: 3px;
    }
    .more {
        margin: 15px 0 15px 10%;
        padding: 5px 10px;
        background-color: #eee;
    }
    .source {
        margin-top: 15px;
        font-size: 12px;
        a {
            color: $accent1-dark;
            text-decoration: none;
        }
    }
    .label {
        font-weight: bold;
        margin-right: 5px;
    }
}
.section-glossary {
    dl.glossary-item {
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px dotted #999;
        &:last-child {
            border-bottom: none;
        }
        .action-bookmark {margin-bottom: 0;}
    }
}


// mode d'emploi
// .invite-enter {
//     margin: 50px 0;
//     text-align: center;
//     font-size: 18px;
//     a {
//         text-decoration: none;
//     }
// }


// about
.section-about {
    .sponsors-logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        list-style: none;
        li {
            flex: 0 0 33.33%;
            flex-basis: calc(100% / 3);
        }
        img {
            display: block;
        }
    }
    .contact-us {
        a {
            text-decoration: none;
        }
    }
}


// popup
    // plein écran par défaut
    .overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 999999;
        display: none;
        background-color: #fff;
    }
    .overlay-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 10px 15px;
        padding-top: 60px;
        overflow: auto;
        .overlay & > *:first-child {
            margin-top: 0;
        }
        .overlay & > *:last-child {
            margin-bottom: 0;
        }
    }
    .overlay-close {
        width: 60px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        background: transparent url('../img/icon-close-black.svg') no-repeat 50% 50% scroll;
        background-size: 36px 36px;
    }

    // variante "presque plein écran"
    // .overlay {
    //     background-color: rgba(0,0,0,.5);
    // }
    // .overlay-content {
    //     left: 7%;
    //     right: 7%;
    //     top: 5%;
    //     bottom: 5%;
    //     padding-top: 10px;
    //     background: #fff;
    //     border-radius: 3px;
    //     box-shadow: 0 5px 25px -10px #000;
    // }
    // .overlay-close {
    //     background-image: url('../img/icon-close.svg');
    // }

    // variante "compact", pas en plein écran
    .overlay.compact {
        background-color: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        display: none;
    }
    .compact .overlay-content {
        position: relative;
        width: 500px;
        max-width: 85vw;
        max-height: 85vh;
        margin: auto;
        padding-top: 10px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 5px 25px -10px #000;
    }
    .compact .overlay-close {
        background-image: url('../img/icon-close.svg');
    }


// bookmarking
.action-bookmark {
    margin: 10px 0 0;
    text-align: right;
}
.bookmark-btn {
    display: inline-block;
    height: 1.1em;
    padding-left: 1.2em;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    background: transparent url('../img/icon-bookmark-off.svg') no-repeat 0 50% scroll;
    background-image: url('../img/icon-bookmark-new.svg');
    background-size: 1em 1em;
    vertical-align: text-bottom;
    .btn-label {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        border-bottom: 1px dashed;
    }
    &.on {
        // background-image: url('../img/icon-bookmark-new-on.svg');
    }
}
.bookmark-help {
    margin-top: 5px;
    color: #777;
    // font-size: .9em;
    font-style: italic;
}

body.read  .bookmark-btn.on {background-image: url('../img/icon-bookmark-new-on-read.svg');}
body.talk  .bookmark-btn.on {background-image: url('../img/icon-bookmark-new-on-talk.svg');}
body.write .bookmark-btn.on {background-image: url('../img/icon-bookmark-new-on-write.svg');}


// art section
.section-art {
    margin-bottom: 35px;
    .art-item {
        clear: both;
        // margin-bottom: 25px;
        a {
            color: $accent2-dark;
        }
        h2 {
            padding-top: 25px;
            padding-bottom: 10px;
            // margin-bottom: 10px;
            color: $accent2;
            font-weight: normal;
            line-height: 1;
            overflow: hidden; // pourquoi ?
            .bookmark-btn {
                float: right;
            }
        }
        .art-content {}
        .poster {
            float: left;
            max-width: 40%;
            margin-right: 15px;
            margin-bottom: 3px;
        }
        .type {
            margin-bottom: 10px;
            padding: 2px 10px;
            font-size: 12px;
            text-align: right;
            color: #fff;
            border-radius: 3px;
            font-weight: bold;
            background-color: $accent2-dark;
            .label {
                font-weight: normal;
            }
        }
        .summary {}
    }
}


// resources section
.section-resources {
    margin-bottom: 35px;
    .resource-section {
        a {
            color: $accent2-dark;
        }
        .section-name {
            margin-bottom: 10px;
            color: #888;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 4px solid $accent2;
        }
    }
    .resource-item {
        overflow: hidden;
        margin-bottom: 10px;
    }
    .resource-name {
        float: left;
        font-weight: bold;
    }
    .resource-link {
        float: right;
        padding-left: 10px;
    }
    .resource-item.soon {
        margin: 50px 0;
        color: #777;
        text-align: center;
        font-style: italic;
        .resource-name {
            font-weight: normal;
            float: none;
        }
    }
}


// legal aspects
.section-legal {
    // p {
    //     margin: 20px 0;
    // }
    // ol {
    //     margin-left: 20px;
    // }
    // ul {
    //     margin-left: 20px;
    // }
    // li {
    //     margin: 10px 0;
    // }
}
.legal-intro {
    font-style: italic;
}
.legal-deco {
    margin: 25px 0;
    padding-left: 15%;
    img {
        border-radius: 10px;
    }
}
.legal-q {
    padding-right: 10%;
    color: $accent1-dark;
    font-weight: bold;
}
.legal-a {
    padding-left: 10%;
}


// true stories
.section-vecu {
    .vignettes {
        position: relative;
        margin: 25px -15px;
    }
    .vignettes-nav {
        .next {}
        .prev {}
    }
    .vignettes-list {
        padding: 0 15px;
    }
    .vignette {
        position: relative;
        margin-bottom: 25px;
        padding: 12px 15px;
        line-height: 1.4;
        background: $accent1-light;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 8px solid #fff;
            border-color: #fff #fff $accent1 $accent1;
        }
        strong {
            display: inline-block;
            font-size: 24px;
            line-height: 18.2px;
            font-weight: bold;
            color: $accent1-dark;
        }
    }
    .img-side {
        width: 50%;
        margin-bottom: 3px;
        img {
            display: block;
        }
        &.left {
            float: left;
            margin-right: 15px;
            margin-left: -15px;
        }
        &.right {
            float: right;
            margin-right: -15px;
            margin-left: 15px;
        }
        &:first-child {
            margin-top: -12px;
        }
    }
    .img-wide {
        margin: 15px -15px -12px;
        img {
            display: block;
            width: 100%;
        }
    }
}


// write
body.write .section-summary .section-main.form-export a {
    color: #fff;
    background-color: $accent3-dark;
    h2 {
        color: #fff;
    }
}


// form elements
input[type="tel"],
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    border: 1px solid #bbb;
    &:focus {
        border-color: $accent3-dark;
        background-color: $accent3-light;
    }
    &::-webkit-input-placeholder {font-size: 12px;}
    &:-moz-placeholder {font-size: 12px;}
    &:placeholder {font-size: 12px;}
}
textarea {
    min-height: 70px;
    resize: vertical;
}

.form-section-title {
    margin: 35px 0 25px;
    color: $accent3-dark;
    font-size: 20px;
    // font-weight: normal;
}

.form-item {
    margin: 25px 0;
    .form-label {
        margin-bottom: 5px;
    }
}
.form-item-radio {
    .form-input {
        margin: 10px 0;
        .form-item-text {
            margin: 0;
            .form-label {
                display: none;
            }
        }
    }
    .form-input-radio {
        position: relative;
        margin: 5px 0;
        input {
            position: absolute;
            left: 5px;
            top: 7px;
        }
        label {
            display: block;
            padding: 5px 0 5px 25px;
            border-radius: 2px;
            strong {
                color: $accent3-dark;
            }
        }
        input:checked + label {
            background-color: $accent3-light;
        }
    }
}
.form-item-checkbox {
    .form-input {
        margin: 10px 0;
        .form-item-text {
            margin: 0;
            .form-label {
                display: none;
            }
        }
    }
    .form-input-checkbox {
        position: relative;
        margin: 5px 0;
        input {
            position: absolute;
            left: 5px;
            top: 7px;
        }
        label {
            display: block;
            padding: 5px 0 5px 25px;
            border-radius: 2px;
            strong {
                color: $accent3-dark;
            }
        }
        input:checked + label {
            background-color: $accent3-light;
        }
    }
}
.form-item-comp-textarea {
    margin: 0;
    padding-left: 25px;
}
.form-note {
    color: $text2;
    font-style: italic;
}
.form-notice {
    text-align: center;
    font-style: italic;
}

.pager {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    .pager-item {
        flex: 0 0 50%;
        a {
            position: relative;
            display: block;
            color: $text1;
            text-decoration: none;
            padding: 5px 10px 35px;
            background-color: $accent3-light;
            &::after {
                content: '';
                position: absolute;
                width: 36px;
                height: 36px;
                bottom: 0;
                right: 5px;
                background: transparent url('../img/nav-next.svg') no-repeat 50% 50% scroll;
                background-size: contain;
                opacity: .5;
            }
        }
        .label {
            display: block;
            font-weight: bold;
            color: $accent3-dark;
            margin-bottom: 5px;
        }
        .subtitle {
            display: block;
            font-size: 12px;
            line-height: 1;
        }
        &.prev {
            padding-right: 5px;
            a::after {
                right: auto;
                left: 5px;
                background-image: url('../img/nav-prev.svg');
            }
        }
        &.next {
            padding-left: 5px;
            text-align: right;
            &:first-child {
                margin-left: auto;
            }
        }
    }
}

.actions {
    margin: 25px 0;
    text-align: right;
    .action {
        button {
            position: relative;
            cursor: pointer;
            border: none;
            padding: 10px 20px;
            color: #fff;
            line-height: 16px;
            font-weight: bold;
            font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
            background: $accent4-dark;
            border-radius: 5px;
        }
        .export-data {
            padding-left: 36px;
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                background: transparent url('../img/icon-pdf.svg') no-repeat 50% 50% scroll;
                position: absolute;
                left: 6px;
                top: 6px;
            }
        }
    }
}

.reminder {
    margin: 50px 0;
    padding: 10px 15px;
    background-color: #eee;

    .form-item {
        margin-bottom: 0;
    }

    .form-item-radio {
        .form-input-radio {
            display: inline-block;
            margin-right: 5px;
            label {
                padding-right: 7px;
            }
        }
    }

    .form-label,
    .form-input-radio label,
    .form-input-checkbox label {
        color: #555;
        strong {
            color: mix($accent3-dark, #000, 90%);
        }
    }

    .form-item-radio .form-input-radio label strong,
    .form-item-checkbox .form-input-checkbox label strong {
        color: mix($accent3-dark, #000, 90%);
    }

    .form-item-radio .form-input-radio input:checked + label,
    .form-item-checkbox .form-input-checkbox input:checked + label {
        color: #333;
        background-color: mix($accent3-light, #000, 93%);
        strong {color: mix($accent3-dark, #000, 75%);}
    }
}

.notice {
    margin: 25px 0;
    padding: 10px 15px;
    color: #333;
    background-color: #eee;
}

.chart {
    img {
        display: block;
        margin: 0 auto;
    }
}

.question-more-info {
    margin: 15px 0 15px 15%;
    padding: 5px 15px;
    border-radius: 3px;
    background-color: $accent3-light;
    .glossary-dfn {
        padding-right: 0;
        color: $accent3-dark;
        &::after {
            display: none;
        }
    }
}

.world-color {
    margin: 25px 0;
    padding: 5px 10px;
    color: rgba(0,0,0,.8);
    .form-item {
        input[type="tel"],
        input[type="text"],
        input[type="date"],
        input[type="email"],
        input[type="number"],
        select,
        textarea {
            background-color: rgba(255,255,255,.5);
            border-color: rgba(0,0,0,.25);
            &:focus {
                background-color: #fff;
                border-color: rgba(0,0,0,.5);
            }
        }
        .form-label,
        .form-input-radio label,
        .form-input-checkbox label {
            color: rgba(0,0,0,.6);
        }
    }
    .form-item-radio .form-input-radio input:checked + label {
        color: #000;
    }
    .action-bookmark .bookmark-help {
        color: rgba(0,0,0,.5);
    }
}

.world-color-title {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 16px;
}

.world-color-blue {
    background-color: mix(#fff, #33b5e5, 80%);
    .action-bookmark .bookmark-btn .btn-label,
    .world-color-title {
        color: mix(#000, #33b5e5, 25%);
    }
    .form-item .form-label strong {
        color: mix(#000, #33b5e5, 25%);
    }
    .form-item-radio .form-input-radio input:checked + label {
        background-color: mix(#fff, #33b5e5, 60%);
    }
    .action-bookmark .bookmark-btn.on {
        background-image: url('../img/icon-bookmark-new-on-world-blue.svg');
    }
}
.world-color-green {
    background-color: mix(#fff, #99cc00, 80%);
    .action-bookmark .bookmark-btn .btn-label,
    .world-color-title {
        color: mix(#000, #99cc00, 25%);
    }
    .form-item .form-label strong {
        color: mix(#000, #99cc00, 25%);
    }
    .form-item-radio .form-input-radio input:checked + label {
        background-color: mix(#fff, #99cc00, 60%);
    }
    .action-bookmark .bookmark-btn.on {
        background-image: url('../img/icon-bookmark-new-on-world-green.svg');
    }
}

// amorces
.amorces {
    margin-bottom: 50px;
    h3 {
        margin: 50px 0 20px;
        font-weight: bold;
        color: $accent2-dark;
    }
    ul {}
    a {
        color: $accent2-dark;
    }
    .amorce {
        position: relative;
        margin-bottom: 30px;
        margin-right: 50px;
        padding: 10px 15px;
        background-color: #eee;
        border-radius: 5px;
        .action-bookmark {
            margin-top: 0;
        }
        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 25px;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-top-color: #eee;
            border-top-width: 10px;
        }
        &:nth-child(2n) {
            margin-right: 0;
            margin-left: 50px;
            background-color: $accent2-light;
            &::after {
                left: auto;
                right: 25px;
                border-top-color: $accent2-light;
            }
        }
    }
}

// notes section
body.notes {
    .section-intro {
        padding-left: 0;
        padding-right: 0;
    }
}
.notes-section {
    margin-bottom: 25px;
    & > h2 {
        margin-bottom: 10px;
        color: $accent4;
        font-weight: normal;
    }
    a {
        color: $accent4-dark;
    }
    .notes-bookmarks {
        .no-data {
            text-align: center;
            font-style: italic;
            margin: 15px 0;
        }
        .tip {
            min-height: 30px;
            font-size: 14px;
            padding: 5px 10px 5px 35px;
            background: #eee url('../img/icon-tip.svg') no-repeat 5px 5px scroll;
            background-size: 25px auto;
        }
        .group {
            margin-bottom: 25px;
            padding: 5px 10px;
            background-color: #eee;
            border-radius: 5px;
            & > h3 {
                font-weight: bold;
                margin-bottom: 10px;
                color: $accent4-dark;
            }
        }
        .bookmark-item {
            position: relative;
            padding: 10px 0;
            padding-left: 30px;
            &::before {
                content: '';
                position: absolute;
                left: -1px;
                top: 9px;
                width: 24px;
                height: 24px;
                cursor: pointer;
                border-radius: 4px;
                background: transparent url('../img/icon-bookmark-on.svg') no-repeat 50% 50% scroll;
                background-image: url('../img/icon-bookmark-new.svg');
                background-size: 24px 24px;
            }
            &::after {
                content: '';
                position: absolute;
                left: 30%;
                right: 30%;
                bottom: -1px;
                height: 2px;
                background-color: $accent4-dark;
            }
            &:last-child::after {
                display: none;
            }
        }
        .section-read {
            .bookmark-item::before {
                // background-image: url('../img/icon-bookmark-on-read.svg');
                background-image: url('../img/icon-bookmark-new-on-read.svg');
            }
        }
        .section-talk {
            .bookmark-item::before {
                // background-image: url('../img/icon-bookmark-on-talk.svg');
                background-image: url('../img/icon-bookmark-new-on-talk.svg');
            }
        }
        .section-write {
            .bookmark-item::before {
                // background-image: url('../img/icon-bookmark-on-write.svg');
                background-image: url('../img/icon-bookmark-new-on-write.svg');
            }
        }
    }
    .notes-freetext {
        textarea {
            width: 100%;
            min-height: 100px;
        }
    }
}


// color variations
body.read {
    input[type="tel"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        &:focus {
            border-color: $accent1-dark;
            background-color: $accent1-light;
        }
    }
    .accent,
    .app a,
    .bookmark-btn .btn-label {
        color: $accent1-dark;
    }
    .back-nav {
        background-color: $accent1;
    }
    .section-summary .section-entry h2 {
        color: $accent1-dark;
    }
    .actions .action button {
        background-color: $accent1-dark;
    }
    .pager .pager-item a {
        background-color: $accent1-light;
    }
}
body.talk {
    input[type="tel"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        &:focus {
            border-color: $accent2-dark;
            background-color: $accent2-light;
        }
    }
    .accent,
    .app a,
    .bookmark-btn .btn-label {
        color: $accent2-dark;
    }
    .back-nav {
        background-color: $accent2;
    }
    .section-summary .section-entry h2 {
        color: $accent2-dark;
    }
    .actions .action button {
        background-color: $accent2-dark;
    }
    .pager .pager-item a {
        background-color: $accent2-light;
    }
}
body.write {
    input[type="tel"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        &:focus {
            border-color: $accent3-dark;
            background-color: $accent3-light;
        }
    }
    .accent,
    .app a,
    .bookmark-btn .btn-label {
        color: $accent3-dark;
    }
    .back-nav {
        background-color: $accent3;
    }
    .section-summary .section-entry h2 {
        color: $accent3-dark;
    }
    .actions .action button {
        background-color: $accent3-dark;
    }
    .form-label,
    .form-input-radio label,
    .form-input-checkbox label {
        color: #666;
        strong {
            color: $accent3-dark;
        }
    }
    .pager .pager-item a {
        background-color: $accent3-light;
    }
}
body.notes {
    input[type="tel"],
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
        &:focus {
            border-color: $accent4-dark;
            background-color: $accent4-light;
        }
    }
    .accent,
    .app a,
    .bookmark-btn .btn-label {
        color: $accent4-dark;
    }
    .back-nav {
        background-color: $accent4;
    }
    .section-summary .section-entry h2 {
        color: $accent4-dark;
    }
    .actions .action button {
        background-color: $accent4-dark;
    }
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .page {
        padding-bottom: $page-vpadding;
        padding-top: $page-vpadding + $menu-height;
    }
    .main-nav {
        top: 0;
        bottom: auto;
        .nav-item,
        .nav-item a {
            border-top-width: 0;
            border-bottom-width: 1px;
        }
    }
}


